<!-- <mat-card style="background-color: #E4F1F5;">
    <h5 style="padding-left: 20px; padding-top: 20px;"><b>{{'VEHICLE.FORM-INFO' | translate}}</b></h5>
    <mat-card-content>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <p mat-line>1. {{'VEHICLE.STEP-1' | translate}}
                </p>
            </mat-list-item>
            <mat-list-item role="listitem">
                <p mat-line>2. {{'VEHICLE.STEP-2' | translate}} <b>{{'VEHICLE.UPLOAD_LIB' | translate}}</b></p>
            </mat-list-item>
            <mat-list-item role="listitem">
                <p mat-line>3. {{'VEHICLE.STEP-3' | translate}} <b>{{'VEHICLE.UPLOAD_DEP' | translate}}</b></p>
            </mat-list-item>
            <mat-list-item role="listitem">
                <p mat-line>{{'VEHICLE.STEP-4' | translate}}
                    <a class="link" [attr.i18nKey]="'VEHICLE.ECONOMICDOC'"
                        (click)="downloadDocument()">{{'VEHICLE.ECONOMICDOC' | translate}}</a>.
                </p>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card> -->
<mat-accordion fxLayout="row" fxLayoutAlign="center">
    <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
            {{'VEHICLE.FORM-INFO' | translate}}
        </mat-expansion-panel-header>
        <mat-list role="list">
            <mat-list-item role="listitem">
                <p mat-line>1. {{'VEHICLE.STEP-1' | translate}}
                </p>
            </mat-list-item>
            <mat-list-item role="listitem">
                <p mat-line>2. {{'VEHICLE.STEP-2' | translate}} <b>{{'VEHICLE.UPLOAD_LIB' | translate}}</b></p>
            </mat-list-item>
            <mat-list-item role="listitem">
                <p mat-line>3. {{'VEHICLE.STEP-3' | translate}} <b>{{'VEHICLE.UPLOAD_DEP' | translate}}</b></p>
            </mat-list-item>
            <mat-list-item role="listitem">
                <p mat-line>{{'VEHICLE.STEP-4' | translate}}
                    <a class="link" [attr.i18nKey]="'VEHICLE.ECONOMICDOC'"
                        (click)="downloadDocument()">{{'VEHICLE.ECONOMICDOC' | translate}}</a>.
                </p>
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
</mat-accordion>