<mat-card>
    <mat-card-title fxLayout="row" fxLayoutAlign="center center">{{'MENU.Penalties' | translate}}</mat-card-title>
    <mat-card-content>
        <div *ngIf="viewFleetTable else vehicleFleet">
            <app-table-fleet (callManageTicket)="getVehiclesByManagerId($event)"></app-table-fleet>
        </div>
        <ng-template #vehicleFleet>
            <button mat-button class="backButton" (click)="viewFleetTable = true">
                {{'FLEET-MANAGER.BACK' | translate}}
            </button>
            <mat-card-subtitle fxLayout="row" fxLayoutAlign="center center">{{'VEHICLE.TITLE' | translate}}
            </mat-card-subtitle>
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="id"
                matSortDirection="asc">

                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">id</span>
                        {{ element.id}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="plate">
                    <mat-header-cell *matHeaderCellDef> {{'VEHICLE.LPN' | translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">{{'VEHICLE.LPN' | translate}}</span>
                        {{ element.lpn}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nat">
                    <mat-header-cell *matHeaderCellDef> {{'VEHICLE.LPN_NAT' | translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">{{'VEHICLE.LPN_NAT' | translate}}</span>
                        {{ element.lpnNat}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="obuId">
                    <mat-header-cell *matHeaderCellDef> obuId </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">obuId</span>
                        {{ element.obuId}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element" style="text-align: end;">
                        <button mat-icon-button matTooltip="{{'PENALTIES.ADD' | translate}}" (click)="modalPenal(element.id, element.fleetManagerId)">
                            <mat-icon style="color: #0066CC;">do_not_disturb</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row class="mobileHeader" *matHeaderRowDef="displayedColumns; sticky: true"
                    [style.display]="dataSource.data.length === 0 ? 'none' : '' "></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.deleted ? 'obuDisactive' : ''"
                    class="hover-row"></mat-row>
            </mat-table>
            <mat-paginator [style.display]="dataSource.data.length === 0 ? 'none' : '' " [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
            <div *ngIf="dataSource.data.length === 0"> {{'VEHICLE.NO_DATA' | translate}}</div>
        </ng-template>
    </mat-card-content>
</mat-card>