<mat-card>
    <mat-card-title fxLayout="row" fxLayoutAlign="center center">{{'MENU.Penalties' | translate}}</mat-card-title>
    <mat-card-content>
        <div *ngIf="viewFleetTable else vehicleFleet">
            <app-table-fleet (callManageTicket)="viewFleetTable = false; fleetId = $event"></app-table-fleet>
        </div>
        <ng-template #vehicleFleet>
            <span>
                <button mat-button class="backButton" (click)="viewFleetTable = true">
                    {{'FLEET-MANAGER.BACK' | translate}}
                </button>
            </span>
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Applica penale">
                    <app-add-penalties [fleetId]="fleetId"></app-add-penalties>
                </mat-tab>
                <mat-tab label="Penali emesse">
                    <app-emitted-penalties [fleetId]="fleetId"></app-emitted-penalties>
                </mat-tab>
            </mat-tab-group>
        </ng-template>
    </mat-card-content>
</mat-card>