<mat-card>
    <mat-card-title>
        <lib-breadcrumb [bgColor]="'white'" [fontColor]="'#1C3775'" [fontSize]="'14px'" [breadcrumb]="breadCrumb"
            style="height: 1px;">
        </lib-breadcrumb><div fxLayout="row wrap" fxLayoutAlign="space-between">
            {{'MENU.Penalties' | translate}}
			<button mat-button class="actionButtons" [routerLink]="['../emitted-penalties']"
				[state]="{ fleetManager: this.fleetManager }" [attr.i18nKey]="'PENALTIES.EMITTED'">
				{{'PENALTIES.EMITTED' | translate}}
			</button>
		</div>
    </mat-card-title>
    <mat-card-content>
        <form>
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>{{'PENALTIES.SEARCH' | translate}}</mat-label>
                <input matInput [attr.i18nKey]="'PENALTIES.SEARCH'" [value]="keyword" #keywordVal autocomplete="off">
                <button matPrefix mat-icon-button (click)="keyword = keywordVal.value">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </form>
        <app-add-penalties [fleetManager]="fleetManager" [keyword]="keyword"></app-add-penalties>
    </mat-card-content>
</mat-card>