<app-view-file [file]="src"></app-view-file>
<mat-card>
    <mat-card-content fxLayout="column" fxLayoutAlign="center">
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
            <mat-card-title>{{'FLEET-MANAGER.VALID_DOCUMENTS' | translate}}
            </mat-card-title>
            <span>
                <button mat-button class="backButton" [routerLink]="['../']"> {{'COMMON.ACTION.BACK' | translate}}
                </button>
            </span>
        </div>
        <mat-progress-bar mode="indeterminate" *ngIf="!complete"></mat-progress-bar>
        <span fxLayoutAlign="center">
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let document of documents">
                    <div matLine>
                        {{'FLEET-MANAGER.' + document.type | translate}}
                        <button mat-icon-button matTooltip="{{'OBU.VIEW_FILE' | translate}}" [disabled]="!complete"
                            (click)="viewDocument(document.fileId)">
                            <mat-icon><span class="icon-document_search"></span></mat-icon>
                        </button>
                        <button mat-icon-button *ngIf="!document.valid else viewDate"
                            matTooltip="{{'FLEET-MANAGER.VALID' | translate}}" [disabled]="!complete"
                            (click)="validDocument(document.fileId)">
                            <mat-icon><span class="icon-rule"></span></mat-icon>
                        </button>
                        <ng-template #viewDate>
                            <span style="color: green;">
                                {{('FLEET-MANAGER.VALID_AT' | translate) + (document.valid | date : 'dd/MM/YYYY')}}
                            </span>
                        </ng-template>
                    </div>
                </mat-list-item>
            </mat-list>
        </span>
    </mat-card-content>
</mat-card>