<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
    <mat-card-title>{{'PENALTIES.SELECT' | translate}}</mat-card-title>
    <mat-progress-bar mode="indeterminate" *ngIf="!complete"></mat-progress-bar>
    <ng-container *ngIf="formGroup">
        <form [formGroup]="formGroup" style="margin-bottom: 20px;" fxLayout="column" fxLayoutGap="20px">
            <div fxLayout="row wrap" fxLayoutAlign="center">
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-lg="80" fxFlex.gt-md="80"
                    fxFlex.gt-xs="100">
                    <mat-label>{{'PENALTIES.TYPE' | translate}}</mat-label>
                    <mat-select formControlName="penalSelected" required>
                        <mat-option *ngFor="let penalType of listPenalType" [value]="penalType.typeId">
                            {{'BILLING_TYPE.' + penalType.billingType | translate}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-lg="80" fxFlex.gt-md="80"
                    fxFlex.gt-xs="100">
                    <mat-label>{{'PENALTIES.DATE' | translate}}</mat-label>
                    <input matInput placeholder="{{'MODAL-FORM.DATE' | translate}}" [matDatepicker]="pickerDate"
                        [max]="maxDate" (focus)="pickerDate.open()" formControlName="datePenal">
                    <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDate></mat-datepicker>
                </mat-form-field>
            </div>
        </form>
        <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
            <button mat-button class="whiteButtons" [attr.i18nKey]="'COMMON.ACTION.BACK'"
                (click)="dialogRef.close(false)">
                {{'COMMON.ACTION.BACK' | translate}}</button>
            <button mat-button class="actionButtons" [disabled]="formGroup.invalid"
                [attr.i18nKey]="'COMMON.ACTION.SAVE'" (click)="addPenal()">
                {{'COMMON.ACTION.SAVE' | translate}}</button>
        </div>
    </ng-container>
</div>