<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
    <mat-card-title>{{'PENALTIES.SELECT' | translate}}</mat-card-title>
    <form [formGroup]="formGroup" style="margin-bottom: 20px;" fxLayout="column" fxLayoutGap="20px">
        <mat-radio-group formControlName="penalSelected">
            <mat-radio-button [value]="penalties.missedAppointment">Mancato appuntamento</mat-radio-button><br>
            <mat-radio-button [value]="penalties.cancelledAppointment">Disdetta appuntamento entro 24h</mat-radio-button>
        </mat-radio-group>
        
            <mat-form-field appearance="fill" fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100">
                <mat-label>{{'PENALTIES.DATE' | translate}}</mat-label>
                <input matInput placeholder="{{'MODAL-FORM.DATE' | translate}}" [matDatepicker]="pickerDate"
                    (focus)="pickerDate.open()" formControlName="datePenal">
                <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerDate></mat-datepicker>
            </mat-form-field>
      
    </form>
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
        <button mat-button (click)="dialogRef.close(false)" class="backButton">
            {{'COMMON.ACTION.BACK' | translate}}</button>
        <button mat-button (click)="addPenal()" [disabled]="formGroup.invalid" class="greenButtons">
            {{'COMMON.ACTION.SAVE' | translate}}</button>
    </div>
</div>