<form [formGroup]="formGroup" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <mat-radio-group fxLayoutGap="10px" formControlName="ctrlActive" (change)="getActiveTicket()">
        <mat-radio-button [value]="true">{{'TICKET.ACTIVE' | translate}}</mat-radio-button>
        <mat-radio-button [value]="false">{{'TICKET.INACTIVE' | translate}}</mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="outline" fxFlex.gt-lg="30" fxFlex.gt-md="30" fxFlex.gt-xs="100"
        *ngIf="!formGroup.get('ctrlActive').value">
        <mat-label>{{'STATISTIC.LABEL-RANGE' | translate}}</mat-label>
        <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
            <input matStartDate formControlName="ctrlStart">
            <input matEndDate formControlName="ctrlEnd" (dateChange)="getActiveTicket()">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <div fxLayoutGap="10px">
        <button mat-button class="whiteButtons" type="button" *ngIf="roleMovyon" (click)="callBackButton.emit()"
            [attr.i18nKey]="'FLEET-MANAGER.BACK'">
            {{'FLEET-MANAGER.BACK' | translate}}
        </button>
        <button mat-button class="actionButtons" [attr.i18nKey]="'TICKET.ADD'" *ngIf="vehicles.length"
            (click)="modalTicket()">{{'TICKET.ADD' | translate}}</button>
    </div>
</form>
<mat-progress-bar *ngIf="!complete" mode="indeterminate"></mat-progress-bar>
<div fxLayout="row wrap" fxLayoutAlign="start">
    <mat-card *ngFor="let element of ticketsConnect | async" class="mat-card-movyon" fxFlex="100" fxFlex.gt-xs="100"
        fxFlex.gt-lg="30" fxFlex.gt-md="30">
        <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
            <ng-container>Ticket {{element.ticketId}}</ng-container>
            <button mat-icon-button (click)="modalTicket(element.vehicleId)">
                <mat-icon><span class="icon-Plus"></span></mat-icon>
            </button>
        </mat-card-title>

        <mat-card-content>
            <mat-card-subtitle>
                {{'TICKET.TYPE' | translate}}: <b>{{element.type}}</b>
            </mat-card-subtitle>
            <mat-card-subtitle>
                {{'VEHICLE.LPN' | translate}}: <b>{{element.lpn}} </b> <span
                    [ngClass]="'fi fi-' + element.lpnNat.toLowerCase()"></span>
            </mat-card-subtitle>
            <mat-card-subtitle>
                {{'TICKET.DATE_START' | translate}}: <b>{{element.ticketStart ?
                    (element.ticketStart | date: 'dd/MM/yyyy HH:mm') : '-'}}</b>
            </mat-card-subtitle>
            <mat-card-subtitle>
                {{'TICKET.DATE_END' | translate}}: <b>{{element.ticketEnd ?
                    (element.ticketEnd | date: 'dd/MM/yyyy HH:mm') : '-'}}</b>
            </mat-card-subtitle>
            <mat-card-subtitle>
                {{'TICKET.ACTIVATION' | translate}}: <b>{{element.dateSink ?
                    (element.dateSink | date: 'dd/MM/yyyy HH:mm') :
                    ('TICKET.ACTIVATION_PHASE' | translate)}}</b>
            </mat-card-subtitle>
        </mat-card-content>
    </mat-card>
    <div *ngIf="dataSource.data.length === 0">{{ 'TICKET.NO_DATA' | translate}}</div>
</div>

<!-- <button mat-icon-button matTooltip="{{'TICKET.END' | translate}}" *ngIf="element.ticketSubscription && !element.dateDel"
    [attr.i18nKey]="'TICKET.END'">
    <mat-icon style="color: #0066CC;" (click)="removeTicket(element.ticketId, element.vehicleId)">
        pan_tool</mat-icon>
</button>
<button mat-icon-button matTooltip="{{'TICKET.CANCEL' | translate}}" *ngIf="!element.dateSink && !element.dateDel"
    [attr.i18nKey]="'TICKET.CANCEL'">
    <mat-icon style="color: #0066CC;" (click)="removeTicket(element.ticketId, element.vehicleId)">
        event_busy</mat-icon>
</button> -->