<div fxLayout="column" fxLayoutGap="20px" style="margin-top: 20px !important;">
    <mat-progress-bar mode="indeterminate" *ngIf="!complete"></mat-progress-bar>
    <div class="mat-elevation-z8 example-container" [style.display]="dataSource.data.length === 0 ? 'none' : ''">
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">id</span>
                    {{element.id}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="displayName">
                <mat-header-cell *matHeaderCellDef> {{'TICKET.LPN' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">{{'TICKET.LPN' | translate}}</span>
                    {{element.displayName}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let element" style="text-align: end;">
                    <button mat-icon-button matTooltip="{{'TICKET.ADD' | translate}}" [attr.i18nKey]="'TICKET.ADD'"
                        (click)="modalTicket(element.id)">
                        <mat-icon><span class="icon-ticket"></span></mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row class="mobileHeader" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" class="hover-row"></mat-row>
        </mat-table>
    </div>
    <mat-paginator [style.display]="dataSource.data.length === 0 ? 'none' : '' " [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
    <div *ngIf="dataSource.data.length === 0 && complete">{{ 'TICKET.NO_DATA' | translate}}</div>
</div>