<mat-card>
    <mat-card-title fxLayout="row" fxLayoutAlign="center center">{{'MENU.Billing' | translate}}</mat-card-title>
    <mat-card-content>
        <div *ngIf="viewFleetTable else fmItems">
            <app-table-fleet (callManageTicket)="getBillingItems($event)"></app-table-fleet>
        </div>
        <ng-template #fmItems>
            <mat-card>
                <mat-card-content fxLayout="column" fxLayoutGap="20px">
                    <form [formGroup]="formGroup" style="margin-bottom: 20px;" fxLayout="column" fxLayoutGap="20px">
                        <div fxLayout="row wrap" fxLayoutGap="20px">
                            <mat-form-field appearance="fill" fxFlex.gt-lg="40" fxFlex.gt-md="40" fxFlex.gt-xs="80">
                                <mat-label>{{'COMMON.DATE.RANGE' | translate}}</mat-label>
                                <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
                                    <input matStartDate formControlName="ctrlRangeStart">
                                    <input matEndDate formControlName="ctrlRangeEnd">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                                <mat-error>{{'COMMON.DATE.INVALID' | translate}}</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill" fxFlex.gt-lg="30" fxFlex.gt-md="30" fxFlex.gt-xs="100">
                                <mat-label> {{'BILLING_ITEMS.STATUS' | translate}}</mat-label>
                                <mat-select formControlName="ctrlBillingStatus" required>
                                    <mat-option *ngFor="let status of billingStatus;" [value]="status">
                                        {{status}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row wrap" fxLayoutGap="20px">
                            <button mat-button class="backButton" *ngIf="roleMovyon" (click)="viewFleetTable = true">
                                {{'FLEET-MANAGER.BACK' | translate}}
                            </button>
                            <button mat-raised-button class="bluButton" [disabled]="formGroup.invalid"
                                (click)="getBillingItems()">
                                {{'COMMON.ACTION.SEARCH' | translate}}
                            </button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
            <mat-progress-bar mode="indeterminate" *ngIf="!complete"></mat-progress-bar>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> id </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="fmId">
                    <th mat-header-cell *matHeaderCellDef> fmId </th>
                    <td mat-cell *matCellDef="let element"> {{element.fmId}} </td>
                </ng-container>

                <ng-container matColumnDef="vehicleId">
                    <th mat-header-cell *matHeaderCellDef> vehicleId </th>
                    <td mat-cell *matCellDef="let element"> {{element.vehicleId}} </td>
                </ng-container>

                <ng-container matColumnDef="typeId">
                    <th mat-header-cell *matHeaderCellDef> typeId </th>
                    <td mat-cell *matCellDef="let element"> {{'BILLING_TYPE.' + element.typeId | translate}} </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> price </th>
                    <td mat-cell *matCellDef="let element"> {{element.price}} € </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"
                    [style.display]="dataSource.data.length === 0 ? 'none' : '' "></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="dataSource.data.length === 0 && complete"> {{'BILLING_ITEMS.NO_DATA' | translate}}</div>
        </ng-template>
    </mat-card-content>
</mat-card>