<mat-card>
	<mat-card-title fxLayout="row" fxLayoutAlign="center center">Associazioni</mat-card-title>
	<mat-card-content>
		<button mat-button class="greenButtons" (click)="openModal()"> Associa</button>
		<hr>
		<h4  fxLayout="row" fxLayoutAlign="center"> Targhe associate - data associazione</h4>
		<div *ngFor="let element of vehicles">
			<div *ngIf="element.dateIns" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="30px">
				<span>{{element.displayName}}</span>
				<span>{{element.dateIns | date : 'dd/MM/yyyy'}}</span>
			</div>
		</div>
    </mat-card-content>
</mat-card>
