<mat-card>
	<mat-card-title fxLayout="row" fxLayoutAlign="center center">{{'DRIVERS.ASSOCIATION' | translate}}</mat-card-title>
	<mat-card-content>
		<button mat-button class="greenButtons" (click)="openModal()"> {{'COMMON.ACTION.EDIT' | translate}}</button>
		<hr>
		<h4 fxLayout="row" fxLayoutAlign="center">
			{{'DRIVERS.ASSOCIATION_PLATE' | translate}} - {{'DRIVERS.ASSOCIATION_DATE' | translate}}
		</h4>
		<div *ngFor="let element of vehiclesAssociated">
			<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="30px">
				<span>{{element.displayName}}</span>
				<span>{{element.dateIns | date : 'dd/MM/yyyy'}}</span>
			</div>
		</div>
		<div fxLayout="row" fxLayoutAlign="center" *ngIf="vehiclesAssociated.length === 0">
			{{'DRIVERS.NO_ASSOCIATION' | translate}}
		</div>
	</mat-card-content>
</mat-card>