<mat-card>
	<mat-card-content>
		<app-view-file [file]="src"></app-view-file>
		<div fxLayout="row wrap" fxLayoutAlign="space-between">
			<mat-card-title fxLayout="row" fxLayoutAlign="center center">Fleet Manager</mat-card-title>
			<span *ngIf="isManageFleet">
				<button mat-button class="actionButtons" [routerLink]="['form-Fleet']">
					{{'FLEET-MANAGER.NEW' | translate}}
				</button>
			</span>
		</div>
		<div fxLayout="column" fxLayoutGap="20px">
			<form [formGroup]="search" fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="20px">
				<mat-form-field appearance="outline" fxFlex="30">
					<mat-label>{{'FLEET-MANAGER.SEARCH' | translate}}</mat-label>
					<input matInput type="search" formControlName="ctrlSearch" autocomplete="off">
				</mat-form-field>
				<button mat-icon-button (click)="refreshTable()">
					<mat-icon matPrefix>search</mat-icon>
				</button>
			</form>
			<mat-progress-bar mode="indeterminate" *ngIf="!complete"></mat-progress-bar>
			<div class="mat-elevation-z8 example-container">
				<mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc"
					(matSortChange)="sortData($event)">
					<ng-container matColumnDef="id">
						<mat-header-cell *matHeaderCellDef mat-sort-header disableClear> id </mat-header-cell>
						<mat-cell *matCellDef="let element">
							<span class="mobile-label">id</span>
							{{element.id}}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="name">
						<mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
							{{'FLEET-MANAGER.NAME' | translate}} </mat-header-cell>
						<mat-cell *matCellDef="let element">
							<span class="mobile-label">{{'FLEET-MANAGER.NAME' | translate}}</span>
							{{ element.name}}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="surname">
						<mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
							{{'FLEET-MANAGER.SURNAME' | translate}} </mat-header-cell>
						<mat-cell *matCellDef="let element">
							<span class="mobile-label">{{'FLEET-MANAGER.SURNAME' | translate}}</span>
							{{ element.surname}}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="e-mail">
						<mat-header-cell *matHeaderCellDef> e-mail </mat-header-cell>
						<mat-cell *matCellDef="let element">
							<span class="mobile-label">e-mail</span>
							{{ element | findContactValue: 3}}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="companyName">
						<mat-header-cell *matHeaderCellDef> {{'FLEET-MANAGER.COMPANY_NAME' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let element">
							<span class="mobile-label">{{'FLEET-MANAGER.COMPANY_NAME' | translate}}</span>
							{{ element.companyName}}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="city">
						<!-- solo manage table -->
						<mat-header-cell *matHeaderCellDef [style.display]="isValidFleet ? 'none' : ''">
							{{'FLEET-MANAGER.CITY' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let element" [style.display]="isValidFleet ? 'none' : ''">
							<span class="mobile-label">{{'FLEET-MANAGER.CITY' | translate}}</span>
							{{ element.city}}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="district">
						<!-- solo manage table -->
						<mat-header-cell *matHeaderCellDef [style.display]="isValidFleet ? 'none' : ''">
							{{'FLEET-MANAGER.DISTRICT' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let element" [style.display]="isValidFleet ? 'none' : ''">
							<span class="mobile-label">{{'FLEET-MANAGER.DISTRICT' | translate}}</span>
							{{ element.district}}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="pIva">
						<!-- solo valid table -->
						<mat-header-cell *matHeaderCellDef [style.display]="isValidFleet ? '' : 'none'">
							{{'FLEET-MANAGER.VAT_NUMBER' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let element" [style.display]="isValidFleet ? '' : 'none'">
							<span class="mobile-label">{{'FLEET-MANAGER.VAT_NUMBER' | translate}}</span>
							{{ element.pIva}}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="fiscalCode">
						<!-- solo valid table -->
						<mat-header-cell *matHeaderCellDef [style.display]="isValidFleet ? '' : 'none'">
							{{'FLEET-MANAGER.FISCALCODE' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let element" [style.display]="isValidFleet ? '' : 'none'">
							<span class="mobile-label">{{'FLEET-MANAGER.FISCALCODE' | translate}}</span>
							{{ element.fiscalCode}}
							<a matSuffix mat-icon-button
								href="https://telematici.agenziaentrate.gov.it/VerificaCF/Scegli.do?parameter=verificaCf"
								target="_blank" *ngIf="element.companyType === 'ENTE'">
								<mat-icon style="color: #0066CC;"
									matTooltip="{{'FLEET-MANAGER.VERIFYCF' | translate }}">verified_user</mat-icon>
							</a>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="actions">
						<mat-header-cell *matHeaderCellDef> </mat-header-cell>
						<mat-cell *matCellDef="let element">
							<span *ngIf="isManageFleet">
								<button mat-icon-button [matMenuTriggerFor]="actionsMenuManage" matTooltip="menu">
									<mat-icon style="color: #0066CC;">more_horiz</mat-icon>
								</button>
								<mat-menu #actionsMenuManage="matMenu">
									<button *ngIf="!roleOpMovyon" mat-icon-button
										matTooltip="{{'DRIVERS.TITLE' | translate}}" [routerLink]="['drivers']"
										[state]="{fleetManagerId: element.id}">
										<mat-icon style="color: #0066CC;">airline_seat_recline_normal</mat-icon>
									</button>
									<button mat-icon-button matTooltip="{{'VEHICLE.TITLE' | translate}}"
										[routerLink]="['vehicles']" [state]="{fleetManager: element}">
										<mat-icon style="color: #0066CC;">directions_car</mat-icon>
									</button>
									<button mat-icon-button matTooltip="Real time" [routerLink]="['../real-time']"
										[state]="{fleetManager: element}">
										<mat-icon style="color: #0066CC;">place</mat-icon>
									</button>
									<button mat-icon-button
										matTooltip="{{'FLEET-MANAGER.VALID_DOCUMENTS' | translate}}"
										[routerLink]="['fleet-documents']" [state]="{fmId: element.id, documents: element.documents}">
										<mat-icon style="color: #0066CC;">fact_check</mat-icon>
									</button>
								</mat-menu>
								<button mat-icon-button matTooltip="{{'COMMON.ACTION.EDIT' | translate}}"
									[routerLink]="['form-Fleet']" [state]="{fleetManager: element}">
									<mat-icon style="color: #0066CC;">edit</mat-icon>
								</button>
								<button mat-icon-button matTooltip="{{'COMMON.ACTION.CANCEL' | translate}}"
									(click)="deleteFleetManager(element.id)">
									<mat-icon style="color: red;">delete</mat-icon>
								</button>
							</span>
							<span *ngIf="isValidFleet">
								<button mat-icon-button style="color: #0066CC;"
									matTooltip="{{'OBU.VIEW_FILE' | translate}}" [matMenuTriggerFor]="menuFile">
									<mat-icon>find_in_page</mat-icon>
								</button>
								<mat-menu #menuFile="matMenu">
									<button mat-menu-item
										(click)="getFleetDocument(element.id, element.documents, 'reqForm')">
										{{'FLEET-MANAGER.reqForm' | translate}}</button>
									<button mat-menu-item
										(click)="getFleetDocument(element.id, element.documents, 'idDoc')">
										{{'FLEET-MANAGER.idDoc' | translate}}</button>
									<button mat-menu-item
										(click)="getFleetDocument(element.id, element.documents, 'comReg')">
										{{'FLEET-MANAGER.comReg' | translate}}</button>
								</mat-menu>
								<button mat-icon-button matTooltip="{{'FLEET-MANAGER.VALID' | translate}}"
									(click)="validInvalidFleet(element.id, true)">
									<mat-icon style="color: green;">done</mat-icon>
								</button>
								<button mat-icon-button matTooltip="{{'FLEET-MANAGER.REFUSE' | translate}}"
									(click)="validInvalidFleet(element.id, false)">
									<mat-icon style="color: red;">clear</mat-icon>
								</button>
							</span>
						</mat-cell>
					</ng-container>

					<mat-header-row class="mobileHeader" *matHeaderRowDef="displayedColumns; sticky: true"
						[style.display]="dataSource.data.length === 0 ? 'none' : '' "></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;" class="hover-row"></mat-row>
				</mat-table>
			</div>
			<mat-paginator [style.display]="fleetManagerList.length === 0 ? 'none' : '' " [pageSize]="10"
				[pageSizeOptions]="[5, 10, 25]" (page)="pageChanged($event)"></mat-paginator>
			<div *ngIf="fleetManagerList.length === 0 && complete">{{ 'FLEET-MANAGER.NO_DATA' | translate}}</div>
		</div>
	</mat-card-content>
</mat-card>