<mat-card>
	<mat-card-content>
		<div fxLayout="column" fxLayoutGap="20px">
			<ng-container *ngIf="!isValidFleet">
				<div fxLayout="row wrap" fxLayoutAlign="space-between">
					<mat-card-title fxLayout="row">{{'MENU.Fleet-manager' | translate}} </mat-card-title>
					<span>
						<button mat-button class="actionButtons" [attr.i18nKey]="'FLEET-MANAGER.NEW'"
							[routerLink]="['form-Fleet']">
							{{'FLEET-MANAGER.NEW' | translate}}
						</button>
					</span>
				</div>
				<form [formGroup]="search" fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="20px">
					<mat-form-field appearance="outline" fxFlex="100">
						<mat-label>{{'FLEET-MANAGER.SEARCH' | translate}}</mat-label>
						<input matInput type="search" formControlName="ctrlSearch" autocomplete="off">
						<button matPrefix mat-icon-button (click)="refreshTable()">
							<mat-icon>search</mat-icon>
						</button>
					</mat-form-field>
				</form>
			</ng-container>
			<mat-progress-bar mode="indeterminate" *ngIf="!complete"></mat-progress-bar>
			<div class="mat-elevation-z8 example-container"
				[style.display]="fleetManagerList.length === 0 ? 'none' : ''">
				<mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc"
					(matSortChange)="sortData($event)">
					<ng-container matColumnDef="id">
						<mat-header-cell *matHeaderCellDef mat-sort-header disableClear> id </mat-header-cell>
						<mat-cell *matCellDef="let element">
							<span class="mobile-label">id</span>
							{{element.id}}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="name">
						<mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
							{{'FLEET-MANAGER.NAME' | translate}} </mat-header-cell>
						<mat-cell *matCellDef="let element">
							<span class="mobile-label">{{'FLEET-MANAGER.NAME' | translate}}</span>
							{{element.name}}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="surname">
						<mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
							{{'FLEET-MANAGER.SURNAME' | translate}} </mat-header-cell>
						<mat-cell *matCellDef="let element">
							<span class="mobile-label">{{'FLEET-MANAGER.SURNAME' | translate}}</span>
							{{element.surname}}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="e-mail">
						<mat-header-cell *matHeaderCellDef> e-mail </mat-header-cell>
						<mat-cell *matCellDef="let element">
							<span class="mobile-label">e-mail</span>
							{{element | findContactValue: 3}}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="companyName">
						<mat-header-cell *matHeaderCellDef> {{'FLEET-MANAGER.COMPANY_NAME' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let element">
							<span class="mobile-label">{{'FLEET-MANAGER.COMPANY_NAME' | translate}}</span>
							{{element.companyName}}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="city">
						<!-- solo manage table -->
						<mat-header-cell *matHeaderCellDef [style.display]="isValidFleet ? 'none' : ''">
							{{'FLEET-MANAGER.CITY' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let element" [style.display]="isValidFleet ? 'none' : ''">
							<span class="mobile-label">{{'FLEET-MANAGER.CITY' | translate}}</span>
							{{element.city}}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="district">
						<!-- solo manage table -->
						<mat-header-cell *matHeaderCellDef [style.display]="isValidFleet ? 'none' : ''">
							{{'FLEET-MANAGER.DISTRICT' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let element" [style.display]="isValidFleet ? 'none' : ''">
							<span class="mobile-label">{{'FLEET-MANAGER.DISTRICT' | translate}}</span>
							{{element.district}}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="pIva">
						<!-- solo valid table -->
						<mat-header-cell *matHeaderCellDef [style.display]="isValidFleet ? '' : 'none'">
							{{'FLEET-MANAGER.VAT_NUMBER' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let element" [style.display]="isValidFleet ? '' : 'none'">
							<span class="mobile-label">{{'FLEET-MANAGER.VAT_NUMBER' | translate}}</span>
							{{element.pIva}}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="fiscalCode">
						<!-- solo valid table -->
						<mat-header-cell *matHeaderCellDef [style.display]="isValidFleet ? '' : 'none'">
							{{'FLEET-MANAGER.FISCALCODE' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let element" [style.display]="isValidFleet ? '' : 'none'">
							<span class="mobile-label">{{'FLEET-MANAGER.FISCALCODE' | translate}}</span>
							{{element.fiscalCode}}
							<a matSuffix mat-icon-button
								href="https://telematici.agenziaentrate.gov.it/VerificaCF/Scegli.do?parameter=verificaCf"
								target="_blank" *ngIf="element.companyType === 'ENTE'"
								[attr.i18nKey]="'FLEET-MANAGER.VERIFYCF'">
								<mat-icon style="color: #0066CC;"
									matTooltip="{{'FLEET-MANAGER.VERIFYCF' | translate }}">verified_user</mat-icon>
							</a>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="actions">
						<mat-header-cell *matHeaderCellDef> </mat-header-cell>
						<mat-cell *matCellDef="let element">
							<span *ngIf="!isValidFleet else valid">
								<button mat-icon-button matTooltip="menu" [matMenuTriggerFor]="actionsMenuManage"
									[attr.i18nKey]="'menu'">
									<mat-icon style="color: #1C3775;">more_horiz</mat-icon>
								</button>
								<mat-menu #actionsMenuManage="matMenu" class="menu-color">
									<button mat-menu-item [routerLink]="['form-Fleet']"
										[state]="{fleetManager: element}" [attr.i18nKey]="'COMMON.ACTION.EDIT'">
										<mat-icon><span class="icon-edit"></span></mat-icon>
										{{'COMMON.ACTION.EDIT' | translate}}
									</button>
									<button *ngIf="!roleOpMovyon" mat-menu-item [routerLink]="['drivers']"
										[state]="{fleetManagerId: element.id}" [attr.i18nKey]="'DRIVERS.TITLE'">
										<mat-icon><span class="icon-driver"></span></mat-icon>
										{{'DRIVERS.TITLE' | translate}}
									</button>
									<button mat-menu-item [routerLink]="['vehicles']" [state]="{fleetManager: element}"
										[attr.i18nKey]="'VEHICLE.TITLE'">
										<mat-icon><span class="icon-car"></span></mat-icon>
										{{'VEHICLE.TITLE' | translate}}
									</button>
									<button mat-menu-item [routerLink]="['real-time']" [state]="{fleetManager: element}"
										[attr.i18nKey]="'Real time'">
										<mat-icon><span class="icon-location_on"></span></mat-icon>
										Real time
									</button>
									<button mat-menu-item [routerLink]="['fleet-documents']"
										[state]="{fmId: element.id, documents: element.documents}"
										[attr.i18nKey]="'FLEET-MANAGER.VALID_DOCUMENTS'">
										<mat-icon><span class="icon-document_search"></span></mat-icon>
										{{'FLEET-MANAGER.VALID_DOCUMENTS' | translate}}
									</button>
								</mat-menu>
								<button mat-icon-button matTooltip="{{'COMMON.ACTION.DELETE' | translate}}"
									[attr.i18nKey]="'COMMON.ACTION.DELETE'" (click)="deleteFleetManager(element.id)">
									<mat-icon><span class="icon-delete"></span></mat-icon>
								</button>
							</span>
							<ng-template #valid>
								<button mat-icon-button matTooltip="{{'OBU.VIEW_FILE' | translate}}"
									[matMenuTriggerFor]="menuFile" [attr.i18nKey]="'OBU.VIEW_FILE'">
									<mat-icon><span class="icon-document_search"></span></mat-icon>
								</button>
								<mat-menu #menuFile="matMenu">
									<button mat-menu-item [attr.i18nKey]="'FLEET-MANAGER.reqForm'"
										(click)="getFleetDocument(element.id, element.documents, 'reqForm')">
										{{'FLEET-MANAGER.reqForm' | translate}}</button>
									<button mat-menu-item [attr.i18nKey]="'FLEET-MANAGER.idDoc'"
										(click)="getFleetDocument(element.id, element.documents, 'idDoc')">
										{{'FLEET-MANAGER.idDoc' | translate}}</button>
									<button mat-menu-item [attr.i18nKey]="'FLEET-MANAGER.comReg'"
										(click)="getFleetDocument(element.id, element.documents, 'comReg')">
										{{'FLEET-MANAGER.comReg' | translate}}</button>
								</mat-menu>
								<button mat-icon-button matTooltip="{{'FLEET-MANAGER.VALID' | translate}}"
									[attr.i18nKey]="'FLEET-MANAGER.VALID'"
									(click)="validInvalidFleet(element.id, true)">
									<span class="icon-rule font-size-30"></span>
								</button>
								<button mat-icon-button matTooltip="{{'FLEET-MANAGER.REFUSE' | translate}}"
									[attr.i18nKey]="'FLEET-MANAGER.REFUSE'"
									(click)="validInvalidFleet(element.id, false)">
									<mat-icon><span class="icon-delete"></span></mat-icon>
								</button>
							</ng-template>
						</mat-cell>
					</ng-container>

					<mat-header-row class="mobileHeader" *matHeaderRowDef="displayedColumns; sticky: true">
					</mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;" class="hover-row"></mat-row>
				</mat-table>
			</div>
			<mat-paginator [style.display]="fleetManagerList.length === 0 ? 'none' : '' " [pageSize]="10"
				[pageSizeOptions]="[5, 10, 25]" (page)="pageChanged($event)"></mat-paginator>
			<div *ngIf="fleetManagerList.length === 0 && complete">{{ 'FLEET-MANAGER.NO_DATA' | translate}}</div>
		</div>
	</mat-card-content>
</mat-card>