<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" *ngIf="!data.validForm else valid">
    <p> {{data.text | translate}}</p>
    <span *ngIf="data.uploadDoc">
        <p>{{fileDeposit?.name}}</p>
        <input style="display: none" type="file" #depositInput accept="application/pdf, image/jpeg, image/png"
            (change)="uploadDeposit($event)">
        <button mat-button class="uploadButtons" (click)="depositInput.click()">{{data.uploadDoc | translate}}</button>
    </span>
    <div fxLayout="row" fxLayoutGap="20px">
        <button mat-button (click)="dialogRef.close(false)" class="backButton"> no </button>
        <button mat-button (click)="dialogRef.close(fileDeposit ? {file: fileDeposit} : true)" class="actionButtons">
            {{'COMMON.ACTION.YES' | translate}}
        </button>
    </div>
</div>
<ng-template #valid>
    <div fxLayout="column" fxLayoutAlign="center">
        <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxLayoutAlign="center">
            <mat-label>{{'FLEET-MANAGER.CONTRACT_CODE' | translate}}</mat-label>
            <input matInput type="text" [formControl]="contractCode" maxlength="7" required autocomplete="off">
            <mat-error>{{'FLEET-MANAGER.INSERT_CONTRACT_CODE' | translate}}</mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
            <button mat-button (click)="dialogRef.close(false)" class="backButton"> {{'COMMON.ACTION.BACK' | translate}}
            </button>
            <button mat-button (click)="dialogRef.close(contractCode.value)" class="actionButtons"
                [disabled]="contractCode.status === 'INVALID'">
                {{'COMMON.ACTION.SAVE' | translate}}
            </button>
        </div>
    </div>
</ng-template>