<mat-card>
	<div fxLayout="row wrap" fxLayoutAlign="space-between">
		<mat-card-title>
			<lib-breadcrumb [bgColor]="'white'" [fontColor]="'#1C3775'" [fontSize]="'14px'" [breadcrumb]="breadCrumb"
				style="height: 1px;" *ngIf="fleetManager"></lib-breadcrumb>
			Real Time
		</mat-card-title>
	</div>
	<mat-card-content>
		<div fxLayout="column" fxLayoutGap="20px">
			<!-- <mat-card style="background-color: #E4F1F5;">
				<mat-card-content fxLayout="row wrap" fxLayoutGap="20px">
					<mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-lg="25" fxFlex.gt-md="25"
						fxFlex.gt-xs="100">
						<mat-label>{{'REAL-TIME.SELECT' | translate}}</mat-label>
						<mat-select [(ngModel)]="actualTime" [attr.i18nKey]="'REAL-TIME.SELECT'"
							(selectionChange)="onChangedRefresh()">
							<mat-option *ngFor="let time of times" [value]="time.code">
								{{'REAL-TIME.' + time.label | translate}}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlexOffset="40" fxLayoutGap="20px">
						<h3> {{'REAL-TIME.VEHICLES' | translate}} {{vehicleTrip.length}}</h3>
						<ng-container>
							<button mat-icon-button matTooltip="{{'REAL-TIME.REFRESH' | translate}}"
								[attr.i18nKey]="'REAL-TIME.REFRESH'" (click)="getTrip()">
								<mat-icon>refresh</mat-icon>
							</button>
							<button mat-icon-button matTooltip="{{'REAL-TIME.STOP' | translate}}" [disabled]="!stop"
								[attr.i18nKey]="'REAL-TIME.STOP'" (click)="stopPlayRefresh()">
								<mat-icon [style.color]="!stop ? 'grey' : 'red'">stop</mat-icon>
							</button>
							<button mat-icon-button matTooltip="{{'REAL-TIME.PLAY' | translate}}" [disabled]="stop"
								[attr.i18nKey]="'REAL-TIME.PLAY'" (click)="stopPlayRefresh()">
								<mat-icon [style.color]="stop ? 'grey' : 'green'">play_arrow</mat-icon>
							</button>
						</ng-container>
					</div>

				</mat-card-content>
			</mat-card> -->
			<mat-card-title>{{'REAL-TIME.VEHICLES' | translate}} {{vehicleTrip.length}}</mat-card-title>
			<mat-card-subtitle>{{'REAL-TIME.SELECT' | translate}}</mat-card-subtitle>
			<div fxLayout="row wrap" fxLayoutGap="20px">
				<mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-lg="25" fxFlex.gt-md="25"
					fxFlex.gt-xs="100">
					<mat-select [(ngModel)]="actualTime" [attr.i18nKey]="'REAL-TIME.SELECT'"
						(selectionChange)="onChangedRefresh()">
						<mat-option *ngFor="let time of times" [value]="time.code">
							{{'REAL-TIME.' + time.label | translate}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20px">
					<ng-container>
						<button mat-button class="actionIconButtons" [attr.i18nKey]="'REAL-TIME.REFRESH'"
							(click)="getTrip()">
							{{'REAL-TIME.REFRESH' | translate}}
							<mat-icon>refresh</mat-icon>
						</button>
						<button mat-button class="actionIconButtons" [disabled]="!stop"
							[attr.i18nKey]="'REAL-TIME.STOP'" (click)="stopPlayRefresh()">
							{{'REAL-TIME.STOP' | translate}}
							<mat-icon>stop</mat-icon>
						</button>
						<button mat-button class="actionIconButtons" [disabled]="stop" [attr.i18nKey]="'REAL-TIME.PLAY'"
							(click)="stopPlayRefresh()">
							{{'REAL-TIME.PLAY' | translate}}
							<mat-icon>play_arrow</mat-icon>
						</button>
					</ng-container>
				</div>
			</div>
			<mat-progress-bar mode="indeterminate" *ngIf="!complete"></mat-progress-bar>
			<!-- <mat-tab-group mat-align-tabs="center">
				<mat-tab label="{{'REAL-TIME.MAP' | translate}}">
					<mat-card fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
						<lib-npt-map [zoom]=15 [center]="center" [usePopUp]=true [typeEvent]="'click'"
							[layerToCheck]="layersPopup" (mapReady)="onMapReady($event)">
						</lib-npt-map>
					</mat-card>
				</mat-tab>
				<mat-tab label="{{'REAL-TIME.TABLE' | translate}}">
					<mat-card>
						<mat-card-content>
							<app-table-real-time [vehicleTable]="vehicleTrip" [fleetManagerId]="fleetManager?.id">
							</app-table-real-time>
						</mat-card-content>
					</mat-card>
				</mat-tab>
			</mat-tab-group> -->
			<div fxLayout="row">
				<div fxFlex="20" [@slideInOut]="detailsBar">
					<span fxLayoutAlign="end">
						<button mat-icon-button (click)="detailsBar = detailsBar === 'on' ? 'off' : 'on'">
							<mat-icon>{{detailsBar === 'on' ? 'close' : 'chevron_right'}}</mat-icon>
						</button>
					</span>
					<div fxLayout="column" *ngIf="detailsBar  === 'on'">
						<ng-container *ngFor="let trip of filteredTrip">
							<mat-card class="mat-card-movyon card-real-time">
								<mat-card-content>
									<mat-card-subtitle><b>OBU ID: {{trip.obuId}}</b></mat-card-subtitle>
									<mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
										<mat-icon><span class="icon-Pin-rounded" [ngClass]="trip | statusVehicle"></span></mat-icon>
										<b>{{((trip | statusVehicle) === 'redIcon' ? 'REAL-TIME.EXPIRED' :
											(trip | statusVehicle) === 'yellowIcon' ? 'REAL-TIME.WARNING' : 'REAL-TIME.ACTIVE') | translate}}</b>
									</mat-card-subtitle>
									<mat-card-subtitle><b>{{'COMMON.DATE.START' | translate}}: </b>{{trip.start | date : 'dd/MM/YYYY HH:mm'}}</mat-card-subtitle>
									<mat-card-subtitle><b>{{'COMMON.DATE.END' | translate}}: </b>{{trip.end | date : 'dd/MM/YYYY HH:mm'}}</mat-card-subtitle>
									<mat-card-subtitle><b>{{'REAL-TIME.TICKET' | translate}}: </b>{{trip.ticketNumber}}</mat-card-subtitle>
								</mat-card-content>
							</mat-card>
						</ng-container>
					</div>
				</div>
				<lib-npt-map fxFlex="80" [@maxWidth]="detailsBar" [zoom]=15 [center]="center" [usePopUp]=true [typeEvent]="'click'"
					[layerToCheck]="layersPopup" (mapReady)="onMapReady($event)">
				</lib-npt-map>
			</div>
		</div>
	</mat-card-content>
</mat-card>