<mat-card>
    <mat-card-title fxLayout="row" fxLayoutAlign="center center"> {{'OBU.CHANGE_PLATE' | translate}}</mat-card-title>
    <mat-card-content>
        <form #form="ngForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
            <mat-form-field appearance="fill" class="form">
                <mat-label> {{'VEHICLE.LPN' | translate}}</mat-label>
                <input matInput type="text" maxlength="20" name="Lpn" [(ngModel)]="CtrlLpn"
                    (ngModelChange)="CtrlLpn = $event.toUpperCase()" required>
                <mat-error> {{'VEHICLE.INSERT LPN' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form">
                <mat-label>{{CtrlLpnNat}}</mat-label>
                <mat-select name="LpnNat" [(ngModel)]="CtrlLpnNat" required>
                    <mat-option *ngFor="let nation of nations" [value]="nation.value">
                        <!-- selezione nazione -->
                        {{nation.value | translate}}
                        <span [ngClass]="'flag-icon flag-icon-' + nation.value.toLowerCase()"></span>
                    </mat-option>
                </mat-select>
                <span [ngClass]="'flag-icon flag-icon-' + CtrlLpnNat.toLowerCase()"></span>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                <button mat-button class="redButtons" (click)="dialogRef.close(false);">
                  {{'COMMON.ACTION.CANCEL' | translate}}</button>
                <button mat-button class="greenButtons" (click)="changePlate()" [disabled]="form.invalid || !form.dirty">
                  {{'COMMON.ACTION.SAVE' | translate}}
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>