<mat-card>
    <mat-card-title *ngIf="(data === undefined || data === null) && !register" fxLayout="row"
        fxLayoutAlign="center center">
        {{'FLEET-MANAGER.MESSAGE_NEW' | translate}}</mat-card-title>
    <mat-card-title *ngIf="data !== undefined && data !== null" fxLayout="row" fxLayoutAlign="center center">
        {{'FLEET-MANAGER.MESSAGE_EDIT' | translate}}</mat-card-title>
    <mat-card-title *ngIf="register" fxLayout="row" fxLayoutAlign="center center">
        {{'FLEET-MANAGER.REGISTRATION' | translate}}
    </mat-card-title>
    <mat-card-content fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutAlign="center" *ngIf="register">
            {{'FLEET-MANAGER.REGISTRATION_HEADER' | translate}}
        </div>
        <form [formGroup]="FormGroup" fxLayout="column" fxLayoutGap="20px">
            <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
                <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="20" fxFlex.gt-md="20">
                    <mat-label>{{'FLEET-MANAGER.NATIONALITY' | translate}}</mat-label>
                    <mat-select formControlName="CtrlNat" required (selectionChange)="changeFormNat()">
                        <mat-option *ngFor="let nation of nations" [value]="nation.value">
                            {{nation.value | translate}}
                            <span [ngClass]="'fi fi-' + nation.value.toLowerCase()"></span>
                        </mat-option>
                        <mat-select-trigger>
                            {{FormGroup.get('CtrlNat').value}}
                            <span [ngClass]="'fi fi-' + FormGroup.get('CtrlNat').value?.toLowerCase()"></span>
                        </mat-select-trigger>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start">
                <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30">
                    <mat-label>{{'FLEET-MANAGER.NAME' | translate}}</mat-label>
                    <input matInput type="text" formControlName="CtrlName" maxlength="25" required>
                    <mat-error>{{'FLEET-MANAGER.INSERT_NAME' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30">
                    <mat-label>{{'FLEET-MANAGER.SURNAME' | translate}}</mat-label>
                    <input matInput type="text" formControlName="CtrlSurname" maxlength="25" required>
                    <mat-error>{{'FLEET-MANAGER.INSERT_SURNAME' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30">
                    <mat-label>{{'FLEET-MANAGER.FISCALCODE' | translate}}</mat-label>
                    <input matInput type="text" formControlName="CtrlCF"
                        (input)="FormGroup.patchValue({CtrlCF: FormGroup.get('CtrlCF').value.toUpperCase()})"
                        [required]="FormGroup.get('CtrlNat').value === 'IT'">
                    <mat-error>{{'FLEET-MANAGER.INSERT_FISCALCODE' | translate}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutGap="20px">
                <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30">
                    <mat-label>E-Mail</mat-label>
                    <input matInput type="text" formControlName="CtrlMail" maxlength="100" required
                        [readonly]="!register && data?.name" [style.opacity]="!register && data?.name ? '0.5' : ''">
                    <mat-error>{{'FLEET-MANAGER.INSERT_MAIL' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30">
                    <mat-label>{{'FLEET-MANAGER.CELL' | translate}}</mat-label>
                    <input matInput type="text" ng2TelInput
                        [ng2TelInputOptions]="{initialCountry: 'it', separateDialCode: true}"
                        (countryChange)="onCountryChange($event)" formControlName="CtrlCell" autocomplete="off"
                        maxlength="25" required [readonly]="(verifyOtp && register) || (!register && data?.name)"
                        [style.opacity]="!register && data ? '0.5' : ''">
                    <button matSuffix mat-icon-button matTooltip="{{'FLEET-MANAGER.VERIFY_MOBILE' | translate}}"
                        *ngIf="register && !FormGroup.get('CtrlCell').invalid && !verifyOtp" (click)="modalOTP()">
                        <mat-icon>mobile_screen_share</mat-icon>
                    </button>
                    <mat-icon matSuffix *ngIf="register && verifyOtp"
                        matTooltip="{{'FLEET-MANAGER.MOBILE_VERIFIED' | translate}}" style="color: green;">done
                    </mat-icon>
                    <mat-error>{{'FLEET-MANAGER.INSERT_CELL' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30">
                    <mat-label>{{'FLEET-MANAGER.OFFICE' | translate}}</mat-label>
                    <input matInput type="text" formControlName="CtrlOffice" maxlength="100">
                </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutGap="20px">
                <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30">
                    <mat-label>{{'FLEET-MANAGER.COMPANY_NAME' | translate}}</mat-label>
                    <input matInput type="text" formControlName="CtrlCompanyName" maxlength="100" required>
                    <mat-error>{{'FLEET-MANAGER.INSERT_COMPANY_NAME' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30">
                    <mat-label>{{'FLEET-MANAGER.ADDRESS' | translate}}</mat-label>
                    <input matInput type="text" formControlName="CtrlAddress" maxlength="60" required>
                    <mat-error>{{'FLEET-MANAGER.INSERT_ADDRESS' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30">
                    <mat-label>{{'FLEET-MANAGER.VAT_NUMBER' | translate}}</mat-label>
                    <input matInput type="text" formControlName="CtrlpIva" maxlength="11"
                        [required]="FormGroup.get('CtrlNat').value === 'IT'">
                    <mat-error>{{'FLEET-MANAGER.INSERT_VAT_NUMBER' | translate}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutGap="20px">
                <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30">
                    <mat-label>{{'FLEET-MANAGER.CITY' | translate}}</mat-label>
                    <input matInput type="text" formControlName="CtrlCity" maxlength="35" required>
                    <mat-error>{{'FLEET-MANAGER.INSERT_CITY' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30">
                    <mat-label>{{'FLEET-MANAGER.DISTRICT' | translate}}</mat-label>
                    <input matInput type="text" formControlName="CtrlDistrict" maxlength="2" required>
                    <mat-error>{{'FLEET-MANAGER.INSERT_DISTRICT' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30">
                    <mat-label>{{'FLEET-MANAGER.POSTAL_CODE' | translate}}</mat-label>
                    <input matInput type="text" formControlName="CtrlCAP" maxlength="5" required>
                    <mat-error>{{'FLEET-MANAGER.INSERT_POSTAL_CODE' | translate}}</mat-error>
                </mat-form-field>
            </div>
        </form>
        <div fxLayout="row" fxLayoutAlign="center center">{{selectedFile?.name}}</div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" *ngIf="!data">
            <button mat-button class="bluButton" (click)="downloadTemplate()">Scarica File</button>
            <input style="display: none" type="file" #fileInput accept="application/pdf, image/jpeg, image/png"
                (change)="uploadFile($event)">
            <button mat-button class="bluButton" (click)="fileInput.click()">
                {{selectedFile?.name ? 'Change File' : 'Upload File'}}
            </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
            <button mat-button *ngIf="!roleFleetManager" [routerLink]="['../']"
                class="backButton">{{'FLEET-MANAGER.BACK' | translate}}</button>
            <button *ngIf="!data" mat-button
                [disabled]="FormGroup.invalid || ((register && !verifyOtp) || !selectedFile)" class="greenButtons"
                (click)="insertFleetManager()">
                {{'FLEET-MANAGER.SAVE' | translate}}
            </button>
            <button *ngIf="data" mat-button [disabled]="FormGroup.invalid || !FormGroup.dirty" class="greenButtons"
                (click)="updateFleetManager()">{{'FLEET-MANAGER.EDIT' | translate}}</button>
        </div>
    </mat-card-content>
</mat-card>