<mat-card>
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <mat-card-title *ngIf="!data && !register" fxFlexOffset="5">
            {{'FLEET-MANAGER.MESSAGE_NEW' | translate}}</mat-card-title>
        <mat-card-title *ngIf="data && !roleFleetManager" fxFlexOffset="5">
            {{'FLEET-MANAGER.MESSAGE_EDIT' | translate}}</mat-card-title>
        <mat-card-title *ngIf="data && roleFleetManager" fxFlexOffset="5">
            {{'FLEET-MANAGER.MESSAGE_VIEW' | translate}}</mat-card-title>
        <mat-card-title *ngIf="register" fxFlexOffset="5">
            {{'FLEET-MANAGER.REGISTRATION' | translate}}
        </mat-card-title>
        <button mat-icon-button (click)="helper = helper === 'on' ? 'off' : 'on'">
            <mat-icon>
                <span [ngClass]="helper === 'on' ? 'icon-delete' : 'icon-info'"></span>
            </mat-icon>
        </button>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="!completeUp"></mat-progress-bar>
    <div [@slideInOut]="helper">
        <app-expansion-info (callForm)="downloadTemplate()"></app-expansion-info> <!-- component expansion-info-->
    </div>
    <mat-card-content fxLayout="column" fxLayoutGap="20px" *ngIf="formGroup">
        <form [formGroup]="formGroup" fxLayout="column">
            <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30"
                    *ngIf="!roleFleetManager && !register">
                    <mat-label>{{'FLEET-MANAGER.CONTRACT_CODE' | translate}}</mat-label>
                    <input matInput type="text" formControlName="ctrlContractCode" required minlength="7" maxlength="7"
                        [readonly]="data?.name">
                    <mat-error>{{'FLEET-MANAGER.INSERT_CONTRACT_CODE' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30"
                    *ngIf="!roleFleetManager && !register && data">
                    <mat-label>{{'FLEET-MANAGER.SAP_CODE' | translate}}</mat-label>
                    <input matInput type="text" formControlName="ctrlSapCode" readonly>
                </mat-form-field>
            </div>
            <mat-card style="border-style: groove;">
                <mat-card-content>
                    <mat-card-title>{{'FLEET-MANAGER.PERSONREF' | translate}}</mat-card-title>
                    <app-form-field-person [personForm]="formGroup" [readOnlyName]="data && roleFleetManager"
                        [readlOnlyMail]="$any(!register && data?.name)"
                        [opacity]="!register && data?.name ? '0.5' : ''"></app-form-field-person><!--component-->
                    <div fxLayout="row wrap" fxLayoutGap="20px">
                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30"
                            fxFlex.gt-md="30">
                            <mat-label>{{'FLEET-MANAGER.CELL' | translate}}</mat-label>
                            <input matInput type="text" appNg2TelInput
                                [ng2TelInputOptions]="{initialCountry: 'it', separateDialCode: true}"
                                (countryChange)="countryMobileChange($event)" formControlName="ctrlCell"
                                autocomplete="off" maxlength="25" required
                                [readonly]="(verifyOtp && register) || (!register && data?.name)"
                                [style.opacity]="!register && data ? '0.5' : ''">
                            <button matSuffix mat-icon-button libDebounceClick [debounceTime]="1000"
                                matTooltip="{{'FLEET-MANAGER.VERIFY_MOBILE' | translate}}"
                                *ngIf="register && !formGroup.get('ctrlCell').invalid && !verifyOtp"
                                (debounceClick)="modalOTP()">
                                <mat-icon>mobile_screen_share</mat-icon>
                            </button>
                            <mat-icon matSuffix *ngIf="register && verifyOtp"
                                matTooltip="{{'FLEET-MANAGER.MOBILE_VERIFIED' | translate}}" style="color: green;">done
                            </mat-icon>
                            <mat-error>{{'FLEET-MANAGER.INSERT_CELL' | translate}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30"
                            fxFlex.gt-md="30">
                            <mat-label>{{'FLEET-MANAGER.OFFICE' | translate}}</mat-label>
                            <input matInput type="text" formControlName="ctrlOffice" maxlength="100"
                                [readonly]="data && roleFleetManager">
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
            <div fxLayout="row wrap" fxLayoutAlign="center">
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="100"
                    fxFlex.gt-md="100">
                    <mat-label>{{'FLEET-MANAGER.USERTYPE' | translate}}</mat-label>
                    <mat-select formControlName="ctrlUser" required
                        (selectionChange)="userSel=$event.value; formGroup.patchValue({ ctrlNat: 'IT' }); changeFormNat();">
                        <mat-option *ngFor="let user of userTypes" [value]="user">
                            {{'USERTYPE.' + user | translate}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-card style="border-style: groove;">
                <mat-card-content>
                    <mat-card-title>
                        {{'FLEET-MANAGER.DATA' | translate}} {{('USERTYPE.' + userSel) | translate}}
                    </mat-card-title>
                    <div fxLayout="row wrap" fxLayoutGap="20px">
                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="10"
                            fxFlex.gt-md="10" *ngIf="userSel === fleetType.aziendaPrivata">
                            <mat-label>{{'FLEET-MANAGER.NATIONALITY' | translate}}</mat-label>
                            <mat-select formControlName="ctrlNat" required (selectionChange)="changeFormNat()">
                                <mat-select-filter [displayMember]="'text'" [array]="nations"
                                    (filteredReturn)="filteredList = $event.length > 0 ? $event : filteredList">
                                </mat-select-filter>
                                <mat-option *ngFor="let nation of filteredList" [value]="nation.value">
                                    {{nation.text | translate}}
                                    <span [ngClass]="'fi fi-' + nation.value.toLowerCase()"></span>
                                </mat-option>
                                <mat-select-trigger>
                                    {{formGroup.get('ctrlNat').value}}
                                    <span [ngClass]="'fi fi-' + formGroup.get('ctrlNat').value?.toLowerCase()"></span>
                                </mat-select-trigger>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="25"
                            fxFlex.gt-md="25">
                            <mat-label>{{'FLEET-MANAGER.VAT_NUMBER' | translate}}</mat-label>
                            <input matInput type="text" formControlName="ctrlpIva" maxlength="11"
                                [readonly]="data && roleFleetManager" [required]="isEuropeNat"
                                (focusout)="pivaValidator()">
                            <mat-error> {{'FLEET-MANAGER.INSERT_VAT_NUMBER' | translate}}</mat-error>
                            <mat-progress-bar mode="indeterminate" *ngIf="!completePiva"></mat-progress-bar>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="25"
                            fxFlex.gt-md="25" [style.visibility]="isEuropeNat ? '' : 'hidden'">
                            <mat-label>{{'FLEET-MANAGER.FISCALCODE' | translate}}</mat-label>
                            <input matInput type="text" formControlName="ctrlCF" (focusout)="pivaOrFcValidator()"
                                [required]="isEuropeNat" [readonly]="data && roleFleetManager"
                                [maxlength]="userSel === fleetType.dittaIndividuale ? 16 : 11">
                            <a matSuffix mat-icon-button *ngIf="userSel === fleetType.ente"
                                href="https://telematici.agenziaentrate.gov.it/VerificaCF/Scegli.do?parameter=verificaCf"
                                target="_blank">
                                <mat-icon matTooltip="{{'FLEET-MANAGER.VERIFYCF' | translate }}">verified_user
                                </mat-icon>
                            </a>
                            <mat-error>{{'FLEET-MANAGER.INSERT_FISCALCODE' | translate}}</mat-error>
                            <mat-progress-bar mode="indeterminate" *ngIf="!completePiva2"></mat-progress-bar>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="25"
                            fxFlex.gt-md="25"
                            *ngIf="(userSel === fleetType.aziendaPrivata || userSel === fleetType.pubblicaAmm) && formGroup.get('ctrlNat').value === 'IT'">
                            <mat-label>{{(userSel === fleetType.aziendaPrivata ? 'FLEET-MANAGER.DESTCODE' :
                                'FLEET-MANAGER.IPACODE') | translate}}</mat-label>
                            <input matInput type="text" formControlName="ctrlDest"
                                [required]="(userSel === fleetType.aziendaPrivata || userSel === fleetType.pubblicaAmm) && formGroup.get('ctrlNat').value === 'IT'"
                                [minlength]="userSel === fleetType.aziendaPrivata ? 7 : userSel === fleetType.pubblicaAmm ? 6 : null"
                                [maxlength]="userSel === fleetType.aziendaPrivata ? 7 : userSel === fleetType.pubblicaAmm ? 6 : null"
                                [readonly]="data && roleFleetManager">
                            <mat-error>{{(userSel === fleetType.aziendaPrivata ?
                                'FLEET-MANAGER.INSERT_DEST' : 'FLEET-MANAGER.INSERT_IPA') | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row wrap" fxLayoutGap="20px">
                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="18"
                            fxFlex.gt-md="18">
                            <mat-label>{{'FLEET-MANAGER.COMPANY_NAME' | translate}}</mat-label>
                            <input matInput type="text" formControlName="ctrlCompanyName" maxlength="35" required
                                [readonly]="data && roleFleetManager">
                            <mat-error>{{'FLEET-MANAGER.INSERT_COMPANY_NAME' | translate}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="18"
                            fxFlex.gt-md="18">
                            <mat-label>{{'FLEET-MANAGER.ADDRESS' | translate}}</mat-label>
                            <input matInput type="text" formControlName="ctrlAddress" maxlength="60" required
                                [readonly]="data && roleFleetManager">
                            <mat-error>{{'FLEET-MANAGER.INSERT_ADDRESS' | translate}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="18"
                            fxFlex.gt-md="18">
                            <mat-label>{{'FLEET-MANAGER.CITY' | translate}}</mat-label>
                            <input matInput type="text" formControlName="ctrlCity" maxlength="35" required
                                [readonly]="data && roleFleetManager">
                            <mat-error>{{'FLEET-MANAGER.INSERT_CITY' | translate}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="18"
                            fxFlex.gt-md="18" *ngIf="formGroup.get('ctrlNat').value === 'IT'">
                            <mat-label>{{'FLEET-MANAGER.DISTRICT' | translate}}</mat-label>
                            <input matInput type="text" formControlName="ctrlDistrict" required
                                [readonly]="data && roleFleetManager">
                            <mat-error>{{'FLEET-MANAGER.INSERT_DISTRICT' | translate}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="18"
                            fxFlex.gt-md="18" [style.visibility]="isEuropeNat ? '' : 'hidden'">
                            <mat-label>{{'FLEET-MANAGER.POSTAL_CODE' | translate}}</mat-label>
                            <input matInput type="text" formControlName="ctrlCAP" maxlength="10"
                                [required]="isEuropeNat" [readonly]="data && roleFleetManager">
                            <mat-error>{{'FLEET-MANAGER.INSERT_POSTAL_CODE' | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
            <ng-container *ngIf="!data">
                <div fxLayout="column" fxLayoutAlign="center center" style="font-size: 12px;">
                    <span>{{fileModule?.name}}</span>
                    <span>{{fileIdentityCard?.name}}</span>
                    <span>{{fileCommerceReg?.name}}</span>
                </div>
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
                    <input style="display: none" type="file" formControlName="ctrlFileModule" #inpFileModule
                        accept="application/pdf, image/jpeg, image/png"
                        (change)="uploadFile($any($event.target).files, 1)">
                    <input style="display: none" type="file" formControlName="ctrlFileIdentityCrd" #InpFileIdentityCard
                        accept="application/pdf, image/jpeg, image/png"
                        (change)="uploadFile($any($event.target).files, 2)">
                    <input style="display: none" type="file" formControlName="ctrlFileCommerceReg" #InpFileCommerceReg
                        accept="application/pdf, image/jpeg, image/png"
                        (change)="uploadFile($any($event.target).files, 3)">
                    <button mat-button class="uploadButtons" (click)="inpFileModule.click()">
                        {{(fileModule ? 'FLEET-MANAGER.CHANGE_FILE' : 'FLEET-MANAGER.UPLOAD_FILE') | translate}}
                    </button>
                    <button mat-button class="uploadButtons" (click)="InpFileIdentityCard.click()">
                        {{(fileIdentityCard ? 'FLEET-MANAGER.CHANGE_IDENTIYCRD' :
                        'FLEET-MANAGER.UPLOAD_IDENTIYCRD') | translate}}
                    </button>
                    <button mat-button class="uploadButtons" (click)="InpFileCommerceReg.click()">
                        {{(fileCommerceReg ? 'FLEET-MANAGER.CHANGE_COMMERCEREG' :
                        'FLEET-MANAGER.UPLOAD_COMMERCEREG') | translate}}
                    </button>
                </div>
                <p style="font-size: 12px;" fxLayout="row" fxLayoutAlign="center">
                    {{'FLEET-MANAGER.TEXTFILE' | translate}}</p>
                <p style="font-size: 12px;">
                    <mat-checkbox formControlName="ctrlConsent"></mat-checkbox>
                    {{'FLEET-MANAGER.LEGALPART' | translate}}
                </p>
            </ng-container>
        </form>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
            <button mat-button *ngIf="!roleFleetManager" [routerLink]="['../']"
                class="backButton">{{'FLEET-MANAGER.BACK' | translate}}</button>
            <button *ngIf="!data" mat-button libDebounceClick
                [disabled]="formGroup.invalid || ((register && !verifyOtp))" class="actionButtons"
                (debounceClick)="insertFleetManager()">
                {{'FLEET-MANAGER.SAVE' | translate}}
            </button>
            <button *ngIf="data && !roleFleetManager" mat-button libDebounceClick
                [disabled]="formGroup.invalid || !formGroup.dirty" class="actionButtons"
                (debounceClick)="updateFleetManager()">{{'FLEET-MANAGER.EDIT' | translate}}</button>
        </div>
        <mat-progress-bar mode="indeterminate" *ngIf="!completeDown"></mat-progress-bar>
    </mat-card-content>
</mat-card>