<div fxLayout="column" fxLayoutGap="20px">
	<h4 fxLayout="row" fxLayoutAlign="center center">
        {{(data.idDriver ? 'DRIVERS.ASSOCIATION_VEHICLES' : 'DRIVERS.ASSOCIATION_DRIVERS') | translate}}
    </h4>
    <mat-selection-list [(ngModel)]="selectedElement" style="background-color: beige;">
        <mat-list-option *ngFor="let element of data.driverVehicle" [selected]="element.status" [value]="element">
            {{element.displayName}}
        </mat-list-option>
    </mat-selection-list>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <button mat-button class="backButton" (click)="dialogRef.close()">{{'FLEET-MANAGER.BACK' | translate}}</button>
        <button mat-button class="actionButtons" (click)="saveAssociation()"> {{'COMMON.ACTION.SAVE' | translate}} </button>
    </div>
</div>
  