<div *ngIf="viewPDF">
	<pdf-viewer [src]="src" [rotation]="0" [original-size]="false" [show-all]="true" [fit-to-page]="false" [zoom]="0.5"
		[zoom-scale]="'page-width'" [stick-to-page]="false" [render-text]="true" [external-link-target]="'top'"
		[autoresize]="true" [show-borders]="true">
	</pdf-viewer>
	<button mat-icon-button (click)="viewPDF = false">
		<mat-icon>close</mat-icon>
	</button>
</div>
<mat-card *ngIf="!viewPDF">
	<mat-card-title fxLayout="row" fxLayoutAlign="center center">{{'MENU.Vehicle-document' | translate}}</mat-card-title>
	<mat-card-content>
		<div fxLayout="column" fxLayoutGap="20px">
			<form [formGroup]="Search" fxLayout="row wrap" fxLayoutAlign="left center" fxLayoutGap="20px">
				<mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30">
					<mat-label>{{'VEHICLE.SEARCH' | translate}}</mat-label>
					<input matInput type="search" formControlName="CtrlSearch" placeholder="cerca" autocomplete="off">
				</mat-form-field>
				<button mat-icon-button (click)="getVehiclesInstaller()">
					<mat-icon matPrefix>search</mat-icon>
				</button>
				<mat-slide-toggle formControlName="onlyUpload" (change)="getVehiclesInstaller()">
					{{(Search.controls['onlyUpload'].value ? 'OBU.MISSING_UPLOAD' : 'OBU.ALL') | translate}}
				</mat-slide-toggle>
			</form>
			<mat-progress-bar mode="indeterminate" *ngIf="!complete"></mat-progress-bar>
			<mat-table [dataSource]="vehicleList" style="background-color: beige;" class="mat-elevation-z8" matSort
				matSortActive="id" matSortDirection="asc">
				<ng-container matColumnDef="id">
					<mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">id</span>
						{{element.id}}
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="plate">
					<mat-header-cell *matHeaderCellDef> {{'VEHICLE.LPN' | translate}} </mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">{{'VEHICLE.LPN' | translate}}</span>
						{{ element.lpn}}
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="nat">
					<mat-header-cell *matHeaderCellDef> {{'VEHICLE.LPN_NAT' | translate}} </mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">{{'VEHICLE.LPN_NAT' | translate}}</span>
						{{element.lpnNat}}
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="euroClass">
					<mat-header-cell *matHeaderCellDef> euroClass </mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">euroClass</span>
						{{ element.euroClass}}
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="obuId">
					<mat-header-cell *matHeaderCellDef> obuId </mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">obuId</span>
						{{ element.obuId}}
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef> </mat-header-cell>
					<mat-cell *matCellDef="let element" style="text-align: end;">
						<button mat-icon-button *ngIf="element.fileId" style="color: #0066CC;"
							matTooltip="{{'OBU.VIEW_FILE' | translate}}"
							(click)="getObuDocument(element.obuId, element.fileId)">
							<mat-icon>find_in_page</mat-icon>
						</button>
						<input style="display: none" type="file" #fileInput accept="application/pdf"
							(change)="uploadFile($event, element.obuId, element.id)">
						<button mat-icon-button *ngIf="!element.fileId" style="color: #0066CC;"
							matTooltip="{{'OBU.UPLOAD_FILE' | translate}}" (click)="fileInput.click()">
							<mat-icon>upgrade</mat-icon>
						</button>
					</mat-cell>
				</ng-container>
				<mat-header-row class="mobileHeader" *matHeaderRowDef="displayedColumns"
					[style.display]="vehicleList.data.length === 0 ? 'none' : '' "></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			</mat-table>
			<div *ngIf="vehicleList.data.length === 0 && complete"> {{'VEHICLE.NO_DATA' | translate}}</div>
			<mat-paginator [style.display]="vehicleList.data.length === 0 ? 'none' : '' "
				[pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
		</div>
	</mat-card-content>
</mat-card>