<mat-card>
	<mat-card-title fxLayout="row" fxLayoutAlign="center center">Documenti</mat-card-title>
	<mat-card-content>
        <div fxLayout="column" fxLayoutGap="20px">
            <form [formGroup]="Search" fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="20px">
				<mat-form-field appearance="fill" fxFlex="30">
					<mat-label>{{'VEHICLE.SEARCH' | translate}}</mat-label>
					<input matInput type="search" formControlName="CtrlSearch" placeholder="cerca" autocomplete="off">
				</mat-form-field>
				<button mat-icon-button>
					<mat-icon matPrefix>search</mat-icon>
				</button>
			</form>
        </div>
    </mat-card-content>
</mat-card>
