<mat-card *ngIf="roleMovyon !== undefined">
    <mat-card-header>
        <mat-card-title>
            <lib-breadcrumb [bgColor]="'white'" [fontColor]="'#1C3775'" [fontSize]="'14px'" [breadcrumb]="breadCrumb"
				style="height: 1px;" *ngIf="fromFleet"></lib-breadcrumb>
            {{'MENU.Ticket' | translate}}</mat-card-title>
        <mat-card-subtitle *ngIf="viewFleetTable">{{'FLEET-MANAGER.SELECT' | translate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutGap="20px">
        <div *ngIf="viewFleetTable else manageTicket">
            <app-table-fleet (callManageTicket)="viewFleetTable = false; fleetManager= $event"></app-table-fleet>
        </div>
        <ng-template #manageTicket>
            <app-manage-ticket [fleetManager]="fleetManager" [roleMovyon]="roleMovyon" (callBackButton)="viewFleetTable = true"></app-manage-ticket>
        </ng-template>
    </mat-card-content>
</mat-card>