<mat-card *ngIf="roleMovyon !== undefined">
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <mat-card-title>{{'MENU.Ticket' | translate}}
        </mat-card-title>
    </div>
    <mat-card-content fxLayout="column" fxLayoutGap="20px">
        <div *ngIf="viewFleetTable else manageTicket">
            <app-table-fleet (callManageTicket)="viewFleetTable = false; fmId= $event"></app-table-fleet>
        </div>
        <ng-template #manageTicket>
            <app-manage-ticket [fleetManagerId]="fmId" [roleMovyon]="roleMovyon" (callBackButton)="viewFleetTable = true"></app-manage-ticket>
        </ng-template>
    </mat-card-content>
</mat-card>