<div fxLayout="row wrap">
    <mat-card style="background-color: #91D6AC; padding: 20px !important; z-index: 3;" class="backgroundImg1"
        fxFlex.gt-lg="28" fxFlex.gt-md="28" fxFlex.gt-xs="100" fxFlex="100">
        <!-- <img src="assets/images/image_movyon.png" class="backgroundImg1"> -->
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
            <span class="border-icon">
                <span class="icon-manage_accounts font-size"></span>
            </span>
            <mat-card-title fxLayoutAlign="center">{{'WELCOME.TITLE-FLEET' | translate}}</mat-card-title>
        </div>
        <mat-card-content fxLayout="column" fxLayoutAlign="center">
            <p class="font-14">{{'WELCOME.FLEET-MANAGER' | translate}}</p>
            <button mat-button class="white-button" [routerLink]="['../manage']">
                {{'WELCOME.GO' | translate}}</button>
        </mat-card-content>
    </mat-card>
    <mat-card style="background-color: #E4F1F5; padding: 20px !important; z-index: 3;" class="backgroundImg2"
        fxFlex.gt-lg="28" fxFlex.gt-md="28" fxFlex.gt-xs="100" fxFlex="100">
        <!-- <img src="assets/images/image_movyon.png" class="backgroundImg2"> -->
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
            <span class="border-icon">
                <span class="icon-obu font-size"></span>
            </span>
            <mat-card-title fxLayoutAlign="center">{{'WELCOME.TITLE-OBU' | translate}}</mat-card-title>
        </div>
        <mat-card-content fxLayout="column" fxLayoutAlign="center">
            <p class="font-14">{{'WELCOME.ADD-OBU' | translate}}</p>
            <button mat-button class="white-button" [routerLink]="['../manage-obu', {viewNotAssociated: true}]">
                {{'WELCOME.GO' | translate}}</button>
        </mat-card-content>
    </mat-card>
    <mat-card style="background-color: #E89CAE; padding: 20px !important; z-index: 3;" class="backgroundImg3"
        fxFlex.gt-lg="28" fxFlex.gt-md="28" fxFlex.gt-xs="100" fxFlex="100">
        <!-- <img src="assets/images/image_movyon.png" class="backgroundImg3"> -->
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
            <span class="border-icon">
                <span class="icon-wysiwyg font-size"></span>
            </span>
            <mat-card-title fxLayoutAlign="center">{{'MENU.Ticket' | translate}}</mat-card-title>
        </div>
        <mat-card-content fxLayout="column" fxLayoutAlign="center">
            <p class="font-14">{{'WELCOME.MANAGE-TICKET' | translate}}</p>
            <button mat-button class="white-button" [routerLink]="['../ticket']">
                {{'WELCOME.GO' | translate}}</button>
        </mat-card-content>
    </mat-card>
</div>