<div class="example-container">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="id" matSortDirection="asc">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">id</span>
                {{element.id}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lpn">
            <mat-header-cell *matHeaderCellDef> {{'VEHICLE.LPN' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">{{'VEHICLE.LPN' | translate}}</span>
                {{element.lpn}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lpnNat">
            <mat-header-cell *matHeaderCellDef> {{'VEHICLE.LPN_NAT' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">{{'VEHICLE.LPN_NAT' | translate}}</span>
                <span [ngClass]="'fi fi-' + element.lpnNat.toLowerCase()"></span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="certificateId">
            <mat-header-cell *matHeaderCellDef> {{'VEHICLE.CERTIFICATE' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">{{'VEHICLE.CERTIFICATE' | translate}}</span>
                <button mat-icon-button [disabled]="!element.certificateId || !disableViewPdf"
                    [attr.i18nKey]="'VEHICLE.CERTIFICATE'"
                    (click)="viewCertificate.emit({vehicleId: element.id, certificateId: element.certificateId})">
                    <mat-icon
                        matTooltip="{{(element.certificateId ? 'VEHICLE.CERTIFICATE' : 'VEHICLE.NOCERTIFICATE') | translate}}">
                        <span class="icon-assignment"></span>
                    </mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef> {{'VEHICLE.TYPE_DOC' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">{{'VEHICLE.TYPE_DOC' | translate}}</span>
                {{ 'VEHICLE.' + (element.documents | documentToValid) | translate}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span>
                    <button mat-icon-button matTooltip="{{'OBU.VIEW_FILE' | translate}}" [disabled]="!disableViewPdf"
                        [attr.i18nKey]="'OBU.VIEW_FILE'"
                        (click)="viewDeposit.emit({vehicleId: element.id, documents: element.documents})">
                        <mat-icon><span class="icon-document_search"></span></mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="{{'FLEET-MANAGER.VALID' | translate}}"
                        [attr.i18nKey]="'FLEET-MANAGER.VALID'" (click)="validVehicle(element.id, element.documents)">
                        <span class="icon-rule font-size-30"></span>
                    </button>
                </span>
            </mat-cell>
        </ng-container>

        <mat-header-row class="mobileHeader" *matHeaderRowDef="displayedColumns; sticky: true"
            [style.display]="dataSource.data.length === 0 ? 'none' : '' "></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>