<mat-card>
    <mat-card-content fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
            <mat-card-title>
                {{ (data.vehicle ? 'VEHICLE.EDIT' : 'VEHICLE.NEW') | translate }}
            </mat-card-title>
            <button mat-icon-button (click)="helper = helper === 'on' ? 'off' : 'on'">
                <mat-icon> {{helper === 'on' ? 'close' : 'help'}}</mat-icon>
            </button>
        </div>
        <div [@slideInOut]="helper">
            <app-expansion-info-vehicle></app-expansion-info-vehicle>
        </div>
        <mat-progress-bar mode="indeterminate" *ngIf="!complete"></mat-progress-bar>
        <form [formGroup]="formGroup" fxLayout="column" fxLayoutGap="10px">
            <!-- selezione contratto noleggio o acquisto 
                <div *ngIf="!data.vehicle else viewContractType" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
                <label>{{'VEHICLE.CONTRACT' | translate}}</label>
                <mat-radio-group formControlName="CtrlContract">
                    <mat-radio-button style="margin-right: 10px; display: none;" [value]="contractType.BUY">
                        {{'VEHICLE.BUYING' | translate}}</mat-radio-button>
                    <mat-radio-button [value]="contractType.RENT">{{'VEHICLE.RENT' | translate}}</mat-radio-button>
                </mat-radio-group>
            </div>
            <ng-template #viewContractType>
                <p fxLayout="row" fxLayoutAlign="center">
                    Contratto: {{data.vehicle.contractType === contractType.BUY ? 'Acquisto' : 'Noleggio'}}</p>
            </ng-template> -->
            <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start">
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="40"
                    fxFlex.gt-md="40">
                    <mat-label> {{'VEHICLE.LPN' | translate}}</mat-label>
                    <input *ngIf="!data.vehicle" matInput type="text" #input [value]="input.value.toUpperCase()"
                        formControlName="ctrlLpn" maxlength="20" autocomplete="off" required>
                    <input *ngIf="data.vehicle" matInput type="text" formControlName="ctrlLpn" style="opacity: 0.5"
                        readonly>
                    <mat-error> {{'VEHICLE.INSERT LPN' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="40"
                    fxFlex.gt-md="40">
                    <mat-label> {{'VEHICLE.LPN_NAT' | translate}}</mat-label>
                    <span *ngIf="!data.vehicle else readOnlyNat" fxLayout="row">
                        <mat-select formControlName="ctrlLpnNat" required>
                            <mat-select-filter [displayMember]="'text'" [array]="nations"
                                (filteredReturn)="filteredList = $event"></mat-select-filter>
                            <mat-option *ngFor="let nation of filteredList" [value]="nation.value">
                                <!-- selezione nazione -->
                                {{nation.text}}
                                <span [ngClass]="'fi fi-' + nation.value.toLowerCase()"></span>
                            </mat-option>
                            <mat-select-trigger>
                                {{formGroup.get('ctrlLpnNat').value}}
                                <span [ngClass]="'fi fi-' + formGroup.get('ctrlLpnNat').value.toLowerCase()"></span>
                            </mat-select-trigger>
                        </mat-select>
                    </span>
                    <ng-template #readOnlyNat>
                        <span fxLayout="row">
                            <!-- readonly nazione -->
                            <input matInput type="text" formControlName="ctrlLpnNat" style="opacity: 0.5" readonly>
                            <span [ngClass]="'fi fi-' + data.vehicle.lpnNat.toLowerCase()"></span>
                        </span>
                    </ng-template>
                    <mat-error> {{'VEHICLE.INSERT LPN NAT' | translate}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start">
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30"
                    fxFlex.gt-md="30">
                    <mat-label> {{'VEHICLE.EURO-CLASS' | translate}}</mat-label>
                    <input matInput type="number" formControlName="ctrlEuroClass" max="999" min="1" autocomplete="off"
                        required>
                    <mat-error *ngIf="formGroup.controls.ctrlEuroClass.hasError('required')">
                        {{'VEHICLE.INSERT EURO-CLASS' | translate}}
                    </mat-error>
                    <mat-error *ngIf="formGroup.controls.ctrlEuroClass.hasError('min')">
                        {{'VEHICLE.ERROR_NEGATIVE' | translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30"
                    fxFlex.gt-md="30">
                    <mat-label> {{'VEHICLE.AXIS' | translate}}</mat-label>
                    <input matInput type="number" formControlName="ctrlNumAxis" max="999999" min="1" autocomplete="off"
                        required>
                    <mat-error *ngIf="formGroup.controls.ctrlNumAxis.hasError('required')">
                        {{'VEHICLE.INSERT AXIS' | translate}}</mat-error>
                    <mat-error *ngIf="formGroup.controls.ctrlNumAxis.hasError('min')">
                        {{'VEHICLE.ERROR_NEGATIVE' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30"
                    fxFlex.gt-md="30">
                    <mat-label> {{'VEHICLE.WEIGHT' | translate}}</mat-label>
                    <input matInput type="number" formControlName="ctrlMaxWeight" max="999999" min="1"
                        autocomplete="off" required>
                    <mat-error *ngIf="formGroup.controls.ctrlMaxWeight.hasError('required')">
                        {{'VEHICLE.INSERT WEIGHT' | translate}}</mat-error>
                    <mat-error *ngIf="formGroup.controls.ctrlMaxWeight.hasError('min')">
                        {{'VEHICLE.ERROR_NEGATIVE' | translate}}</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-checkbox formControlName="ctrlConsent"></mat-checkbox>
                {{'VEHICLE.CONSENT_TEXT' | translate}}
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!data.vehicle" fxLayoutGap="10px">
                <input style="display: none" type="file" #fileDeposit accept="application/pdf, image/jpeg, image/png"
                    (change)="uploadFile($event, false);">
                <input style="display: none" type="file" formControlName="ctrlLibretto" #fileInput
                    accept="application/pdf, image/jpeg, image/png" (change)="uploadFile($event, true);">
                <mat-label> {{depositDocument?.name}}</mat-label>
                <button mat-button class="uploadButtons" (click)="fileDeposit.click()">
                    {{(depositDocument ? 'VEHICLE.CHANGE_DEP' : 'VEHICLE.UPLOAD_DEP') | translate}}
                </button>
                <p style="font-size: 12px;" *ngIf="iban">
                    {{'VEHICLE.TEXTIBAN' | translate}}{{iban}}
                    <button mat-icon-button [cdkCopyToClipboard]="iban">
                        <mat-icon matTooltip="{{'COMMON.ACTION.COPY' | translate}}">content_copy</mat-icon>
                    </button>
                    {{'VEHICLE.TEXTCAUSAL' | translate}}
                </p>
                <mat-label> {{libDocument?.name}}</mat-label>
                <button mat-button class="uploadButtons" (click)="fileInput.click();">
                    {{(libDocument ? 'VEHICLE.CHANGE_LIB' : 'VEHICLE.UPLOAD_LIB') | translate}}
                </button>
                <p style="font-size: 12px;">{{'VEHICLE.TEXTLIB' | translate}}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                <button mat-button (click)="dialogRef.close(false);" class="backButton">
                    {{'COMMON.ACTION.BACK' | translate}}</button>
                <button *ngIf="!data.vehicle" mat-button [disabled]="formGroup.invalid" class="actionButtons"
                    (click)="addVehicle()"> {{'COMMON.ACTION.SAVE' | translate}}</button>
                <button *ngIf="data.vehicle" mat-button [disabled]="formGroup.invalid || !formGroup.dirty"
                    class="actionButtons" (click)="updateVehicle()"> {{'COMMON.ACTION.EDIT' | translate}}</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>