<div [@slideInOut]="viewDoc">
    <span *ngIf="file.type === 'application/pdf' else image">
        <pdf-viewer [src]="$any(file.url)" [rotation]="0" [original-size]="true" [show-all]="true"
            [fit-to-page]="false" [zoom]="zoom" [stick-to-page]="false" [render-text]="true"
            [external-link-target]="'top'" [autoresize]="true" [show-borders]="true">
        </pdf-viewer>
    </span>
    <button mat-icon-button matTooltip="{{'COMMON.ACTION.CLOSE' | translate}}"
        (click)="viewDoc = 'off'; zoom = 0.6">
        <mat-icon>close</mat-icon>
    </button>
    <br>
    <span *ngIf="file.type === 'application/pdf'">
        <button mat-icon-button matTooltip="zoom +" (click)="changeZoom(true)">
            <mat-icon>add</mat-icon>
        </button>
        <br>
        <button mat-icon-button matTooltip="zoom -" (click)="changeZoom(false)">
            <mat-icon>remove</mat-icon>
        </button>
    </span>
    <ng-template #image>
        <img class="img-responsive" [src]="file.url" alt="imgDoc">
    </ng-template>
</div>
