<mat-card>
    <mat-card-title>
        <lib-breadcrumb [bgColor]="'white'" [fontColor]="'#1C3775'" [fontSize]="'14px'" [breadcrumb]="breadCrumb"
            style="height: 1px;">
        </lib-breadcrumb>
        {{'PENALTIES.EMITTED' | translate}}
    </mat-card-title>
    <mat-card-content fxLayout="column" fxLayoutGap="20px">
        <form [formGroup]="formGroup">
            <div fxLayout="row wrap" fxLayoutGap="20px">
                <mat-form-field appearance="outline" fxFlex.gt-lg="40" fxFlex.gt-md="40" fxFlex.gt-xs="80">
                    <mat-label>{{'COMMON.DATE.RANGE' | translate}}</mat-label>
                    <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
                        <input matStartDate formControlName="ctrlRangeStart">
                        <input matEndDate formControlName="ctrlRangeEnd" (dateChange)="getPenalties()">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                    <mat-error>{{'COMMON.DATE.INVALID' | translate}}</mat-error>
                </mat-form-field>
            </div>
        </form>
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="id" matSortDirection="asc"
            [style.display]="dataSource.data.length === 0 || dataSource.filteredData.length === 0 ? 'none' : '' ">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header disableClear> id </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">id</span>
                    {{element.id}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="plate">
                <mat-header-cell *matHeaderCellDef> {{'VEHICLE.LPN' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">{{'VEHICLE.LPN' | translate}}</span>
                    {{ element.lpn}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef> {{'PENALTIES.PENAL_DATE' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">{{'PENALTIES.PENAL_DATE' | translate}}</span>
                    {{ element.startPeriod.day + '/' + element.startPeriod.month + '/' + element.startPeriod.year}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="billingType">
                <mat-header-cell *matHeaderCellDef> {{'BILLING_ITEMS.TYPE' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">{{'BILLING_ITEMS.TYPE' | translate }}</span>
                    {{'BILLING_TYPE.' + element.billingType | translate}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef> {{'BILLING_ITEMS.PRICE' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <span class="mobile-label">{{'BILLING_ITEMS.PRICE' | translate }}</span>
                    {{element.price}} €
                </mat-cell>
            </ng-container>

            <mat-header-row class="mobileHeader" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator style="margin-top: 20px;"
            [style.display]="dataSource.data.length === 0 || dataSource.filteredData.length === 0 ? 'none' : '' "
            [pageSize]="10" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
        <div *ngIf="dataSource.data.length === 0 || dataSource.filteredData.length === 0 ">{{'VEHICLE.NO_DATA' |
            translate}}
        </div>
    </mat-card-content>
</mat-card>