<lib-view-file *ngIf="src.type" [file]="src"></lib-view-file>
<mat-card>
	<mat-card-content fxLayout="column" fxLayoutGap="20px">
		<mat-progress-bar mode="indeterminate" *ngIf="!complete"></mat-progress-bar>
		<div class="mat-elevation-z8 example-container" [style.display]="dataSource.data.length === 0 ? 'none' : ''">
			<mat-table #table [dataSource]="dataSource" matSort multiTemplateDataRows matSortActive="id" matSortDirection="asc">
				<ng-container matColumnDef="expandButton">
					<mat-header-cell *matHeaderCellDef></mat-header-cell>
					<mat-cell *matCellDef="let element">
						<button mat-icon-button [attr.i18nKey]="'VEHICLE.OPEN'"
							(click)="expandedElement = expandedElement === element ? null : element;">
							<mat-icon
								matTooltip="{{(expandedElement && expandedElement.id === element.id ? 'VEHICLE.CLOSE' : 'VEHICLE.OPEN') | translate }}">
								<span
									[class]="expandedElement && expandedElement.id === element.id ? 'icon-down_arrow' : 'icon-right_arrow'"></span>
							</mat-icon>
						</button>
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="id">
					<mat-header-cell *matHeaderCellDef mat-sort-header disableClear> id </mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">id</span>
						{{element.id}}
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="name">
					<mat-header-cell *matHeaderCellDef> {{'FLEET-MANAGER.NAME' | translate}} </mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">{{'FLEET-MANAGER.NAME' | translate}}</span>
						{{element.name}}
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="surname">
					<mat-header-cell *matHeaderCellDef> {{'FLEET-MANAGER.SURNAME' | translate}} </mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">{{'FLEET-MANAGER.SURNAME' | translate}}</span>
						{{element.surname}}
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="mobile">
					<mat-header-cell *matHeaderCellDef> {{'FLEET-MANAGER.CELL' | translate}} </mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">{{'FLEET-MANAGER.CELL' | translate}}</span>
						{{element | findContactValue: 1}}
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="mail">
					<mat-header-cell *matHeaderCellDef> e-mail </mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="mobile-label">e-mail</span>
						{{element | findContactValue: 3}}
					</mat-cell>
				</ng-container>

				<!--Collapse div-->
				<ng-container matColumnDef="expandedDetail">
					<mat-cell *matCellDef="let element">
						<div class="example-element-detail"
							[@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
							<div class="example-element-description">
								<span class="example-element-description-attribution">
									<ng-container *ngIf="depositWarning else verifyVehicles">
										<app-warning-vehicles *ngIf="expandedElement === element"
											[idFleet]="expandedElement.id"></app-warning-vehicles>
										<!--component-->
									</ng-container>
									<ng-template #verifyVehicles>
										<app-verify-vehicles *ngIf="expandedElement === element"
											(callRefreshTableFleet)="callFleetDeposit()"
											(viewDeposit)="viewDeposit($event)"
											(viewCertificate)="viewCertificate($event)" [disableViewPdf]="complete"
											[fleet]="expandedElement">
										</app-verify-vehicles>
										<!--component-->
									</ng-template>
								</span>
							</div>
						</div>
					</mat-cell>
				</ng-container>
				<mat-header-row class="mobileHeader" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
				<mat-row *matRowDef="let element; columns: displayedColumns;" class="hover-row">
				</mat-row>
				<mat-row [style.display]="expandedElement && expandedElement.id === row.id ? '' : 'none'"
					*matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row>
			</mat-table>
		</div>
		<mat-paginator [style.display]="dataSource.data.length === 0 ? 'none' : '' " [pageSize]="10"
			[pageSizeOptions]="[5, 10, 25]"></mat-paginator>
		<div *ngIf="dataSource.data.length === 0">{{ 'FLEET-MANAGER.NO_DATA' | translate}}</div>
	</mat-card-content>
</mat-card>