<mat-card>
	<mat-card-title>
		<lib-breadcrumb [bgColor]="'white'" [fontColor]="'#1C3775'" [fontSize]="'14px'" [breadcrumb]="breadCrumb"
			style="height: 1px;"></lib-breadcrumb>
		{{(depositWarning ? 'MENU.Deposit-valid' : 'MENU.Vehicle-valid') | translate}}
	</mat-card-title>
	<mat-card-content fxLayout="column" fxLayoutGap="20px">
		<mat-progress-bar mode="indeterminate" *ngIf="!complete"></mat-progress-bar>
		<ng-container *ngFor="let element of fleetListConnect | async">
			<mat-card class="mat-card-movyon-blue">
				<mat-card-content fxLayout="row" fxLayoutGap="20px">
					<span> <b>Id:</b> {{element.id}} </span>
					<span> <b>{{'FLEET-MANAGER.SURNAME' | translate}}:</b> {{element.surname}} </span>
					<span> <b>{{'FLEET-MANAGER.NAME' | translate}}:</b> {{element.name}} </span>
					<span> <b>{{'FLEET-MANAGER.CELL' | translate}}:</b> {{element | findContactValue: 1}}</span>
					<span> <b>e-mail:</b> {{element | findContactValue: 3}}</span>
				</mat-card-content>
			</mat-card>
			<ng-container *ngIf="depositWarning else verifyVehicles">
				<app-warning-vehicles [idFleet]="element.id"></app-warning-vehicles>
			</ng-container>
			<ng-template #verifyVehicles>
				<app-verify-vehicles
					(callRefreshTableFleet)="callFleetDeposit()"
					(viewDeposit)="viewDeposit($event)"
					(viewCertificate)="viewCertificate($event)"
					(updateCertificate)="uploadCertificate($event.vehicleId, $event.event, element.id)"
					[disableViewPdf]="complete" [fleet]="element">
				</app-verify-vehicles>
			</ng-template>
		</ng-container>
		<mat-paginator [style.display]="dataSource.data.length === 0 ? 'none' : '' " [pageSize]="2"></mat-paginator>
		<div *ngIf="dataSource.data.length === 0">{{ 'FLEET-MANAGER.NO_DATA' | translate}}</div>
	</mat-card-content>
</mat-card>