<mat-card>
    <mat-card-title fxLayout="row" fxLayoutAlign="center center" style="padding-top: 1%;">
        {{'STATISTIC.TABLE_ROUTES' | translate}}</mat-card-title>
    <mat-card-content>
        <div class="mat-elevation-z8 example-container" [style.display]="dataSource.data.length === 0 ? 'none' : ''">
            <mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="start">
                    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear> {{'STATISTIC.START' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">{{'STATISTIC.START' | translate}}</span>
                        {{element.start | date: 'dd/MM/yyyy'}} <br>
                        {{element.start | date: 'HH:mm:ss'}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="end">
                    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear> {{'STATISTIC.END' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">{{'STATISTIC.END' | translate}}</span>
                        {{element.end | date: 'dd/MM/yyyy'}} <br>
                        {{element.end | date: 'HH:mm:ss'}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="trip length">
                    <mat-header-cell *matHeaderCellDef> {{'STATISTIC.TRIP_LENGHT' | translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">{{'STATISTIC.TRIP_LENGHT' | translate}}</span>
                        {{element.tripLength}} {{'STATISTIC.METERS' | translate}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="duration">
                    <mat-header-cell *matHeaderCellDef> {{'STATISTIC.DURATION' | translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">{{'STATISTIC.DURATION' | translate}}</span>
                        {{element.duration * 1000 | date : 'HH:mm:ss' : 'UTC'}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef [style.display]="!viewOuter ? 'none' : '' "> type
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" [style.display]="!viewOuter ? 'none' : '' ">
                        <span class="mobile-label">type</span>
                        {{element.type}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="obuId">
                    <mat-header-cell *matHeaderCellDef> obuId </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">obuId</span>
                        {{element.obuId}}
                    </mat-cell>
                </ng-container>

                <mat-header-row class="mobileHeader" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
        <mat-paginator [style.display]="dataSource.data.length === 0 ? 'none' : '' " [pageSize]="6"
            [pageSizeOptions]="[6, 12, 24]"></mat-paginator>
        <div *ngIf="dataSource.data.length === 0"> {{'STATISTIC.TRIP_NO_DATA' | translate}} </div>
    </mat-card-content>
</mat-card>