<div class="mat-elevation-z8 example-container" [style.display]="vehicleTable.length === 0 ? 'none' : ''">
    <mat-table [dataSource]="vehicleTable">
        <ng-container matColumnDef="OBUID">
            <mat-header-cell *matHeaderCellDef> OBUID </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">Obu Id</span>
                {{element.obuId}}
                <button *ngIf="element.ticketExpiresAt < now" mat-icon-button [disabled]="true"
                    [attr.i18nKey]="'TICKET.EXPIRED'">
                    <mat-icon style="color: red; opacity: 0.8;" matTooltip="{{'TICKET.EXPIRED' | translate}}
                    {{element.ticketExpiresAt ? (element.ticketExpiresAt | date : 'dd/MM/yyyy HH:mm:ss') : ''}}">error
                    </mat-icon>
                </button>
                <button *ngIf="element.ticketExpiresAt > now && element.ticketExpiresAt < nowPlus15" mat-icon-button
                    [disabled]="true" [attr.i18nKey]="'TICKET.WILLEXPIRE'">
                    <mat-icon style="color: #eed202; opacity: 0.8;" matTooltip="{{'TICKET.WILLEXPIRE' | translate}}
                    {{element.ticketExpiresAt | date : 'dd/MM/yyyy HH:mm:ss'}}">warning
                    </mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Start">
            <mat-header-cell *matHeaderCellDef> {{'COMMON.DATE.START' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">{{'COMMON.DATE.START' | translate}}</span>
                {{element.start | date: 'dd/MM/yyyy HH:mm:ss' }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="End">
            <mat-header-cell *matHeaderCellDef> {{'COMMON.DATE.END' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">{{'COMMON.DATE.END' | translate}}</span>
                {{element.end | date: 'dd/MM/yyyy HH:mm:ss'}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ticketNumber">
            <mat-header-cell *matHeaderCellDef> ticketNumber </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">ticketNumber</span>
                {{element.ticketNumber}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ticketExpiresAt">
            <mat-header-cell *matHeaderCellDef> scadenza ticket </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="mobile-label">scadenza ticket</span>
                {{element.ticketExpiresAt | date: 'dd/MM/yyyy HH:mm:ss'}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-button matTooltip="{{'VEHICLE.DETAILS' | translate}}" [attr.i18nKey]="'VEHICLE.DETAILS'"
                    (click)="viewDetails(element.obuId)">
                    <mat-icon style="color: #0066CC;">find_in_page</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row class="mobileHeader" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
<div *ngIf="vehicleTable.length === 0"> {{'REAL-TIME.NO_DATA' | translate}}</div>