<mat-card>
    <mat-card-title fxLayout="row" fxLayoutAlign="center center">Ticket attivi
    </mat-card-title>
    <mat-card-content>
        <div *ngIf="viewFleetTable else vehicleTicket">
            <app-table-fleet (callManageTicket)="getActiveTicket($event)"></app-table-fleet>
        </div>
        <ng-template #vehicleTicket>
            <div fxLayout="row" fxLayoutGap="20px" style="margin-bottom: 20px;">
                <button mat-button class="backButton" *ngIf="roleMovyon" (click)="viewFleetTable = true">
                    {{'FLEET-MANAGER.BACK' | translate}}
                </button>
                <button mat-raised-button class="bluButton" (click)="viewHistoric = !viewHistoric">
                    {{ viewHistoric ? 'ticket attivi' : 'vedi storico' }}
                </button>
            </div>
            <form *ngIf="viewHistoric" [formGroup]="FormGroup" fxLayout="row" fxLayoutAlign="left center"
                fxLayoutGap="20px">
                <mat-form-field appearance="fill" fxFlex.gt-lg="40" fxFlex.gt-md="40" fxFlex.gt-xs="100">
                    <mat-label>{{'STATISTIC.LABEL-RANGE' | translate}}</mat-label>
                    <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
                        <input matStartDate formControlName="start">
                        <input matEndDate formControlName="end" (dateChange)="getActiveTicket()">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>

                    <mat-error
                        *ngIf="FormGroup.controls.start.hasError('required') || FormGroup.controls.start.hasError('matStartDateInvalid')">
                        {{'STATISTIC.INVALID_START' | translate}}
                    </mat-error>
                    <mat-error
                        *ngIf="FormGroup.controls.end.hasError('required') || FormGroup.controls.end.hasError('matEndDateInvalid')">
                        {{'STATISTIC.INVALID_END' | translate}}
                    </mat-error>
                </mat-form-field>
            </form>
            <mat-progress-bar mode="indeterminate" *ngIf="!complete"></mat-progress-bar>
            <div class="mat-elevation-z8 example-container">
                <mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
                    <ng-container matColumnDef="expandButton">
                        <mat-header-cell mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="mobile-label"></span>
                            <button mat-icon-button
                                (click)="expandedElement = expandedElement === element ? null : element"
                                matTooltip="{{'TICKET.DETAILS' | translate}}">
                                <mat-icon style="color: grey">
                                    {{expandedElement &&
                                    expandedElement.ticketId === element.ticketId ? 'expand_more' : 'chevron_right' }}
                                </mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ticketId">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> ticketId </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="mobile-label">ticketId</span>
                            {{element.ticketId}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="lpn">
                        <mat-header-cell *matHeaderCellDef> Targa </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="mobile-label">Targa</span>
                            {{element.lpn}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ticketStart">
                        <mat-header-cell *matHeaderCellDef> Start </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="mobile-label">Start</span>
                            {{element.ticketStart | date: 'dd/MM/yyyy'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ticketEnd">
                        <mat-header-cell *matHeaderCellDef> End </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="mobile-label">End</span>
                            {{element.ticketEnd | date: 'dd/MM/yyyy'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element" style="text-align: end;">
                            <button mat-icon-button matTooltip="fine visita">
                                <mat-icon style="color: #0066CC;">pan_tool</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <!--Collapse div-->
                    <ng-container matColumnDef="expandedDetail">
                        <mat-cell *matCellDef="let element">
                            <div class="example-element-detail"
                                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                <div class="example-element-description">
                                    <div fxLayout="row" fxLayoutGap="20px">
                                        <div>
                                            <h3>Inserito da:</h3>
                                            <p>{{element.userIns.surname}}</p>
                                        </div>
                                        <div>
                                            <h3>Inserito il:</h3>
                                            <p>{{element.dateIns | date: 'dd/MM/yyyy'}}</p>
                                        </div>
                                        <div>
                                            <h3>Terminato da:</h3>
                                            <p>{{element.userIns.surname}}</p>
                                        </div>
                                        <div>
                                            <h3>Terminato il:</h3>
                                            <p>{{element.dateIns | date: 'dd/MM/yyyy'}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row class="mobileHeader" *matHeaderRowDef="displayedColumns"
                        [style.display]="dataSource.data.length === 0 ? 'none' : '' "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
                        [class.example-expanded-row]="expandedElement === element"></mat-row>
                    <mat-row
                        [style.display]="expandedElement && expandedElement.ticketId === row.ticketId ? '' : 'none'"
                        *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row>
                </mat-table>
            </div>
            <mat-paginator [style.display]="dataSource.data.length === 0 ? 'none' : '' " [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
            <div *ngIf="dataSource.data.length === 0 && complete">{{ 'TICKET.NO_DATA' | translate}}</div>
        </ng-template>
    </mat-card-content>
</mat-card>