<mat-card>
    <mat-card-title *ngIf="!hasAppointment else other" fxLayout="row" fxLayoutAlign="center center">
        {{'APPOINTMENT.ADD_TITLE' | translate}} </mat-card-title>
    <ng-template #other>
        <mat-card-title fxLayout="row" fxLayoutAlign="center center"> {{'APPOINTMENT.MANAGE_TITLE' | translate}}
        </mat-card-title>
    </ng-template>
    <mat-card-content>
        <mat-progress-bar mode="indeterminate" *ngIf="!complete"></mat-progress-bar>
        <mat-slide-toggle *ngIf="hasAppointment" (change)="reload()" [(ngModel)]="onlyActive">{{( onlyActive ?
            'APPOINTMENT.ONLY_ACTIVE': 'APPOINTMENT.ALL') | translate}}</mat-slide-toggle>
        <div class="mat-elevation-z8 example-container">
            <mat-table #table [dataSource]="appointmentList" multiTemplateDataRows>
                <ng-container matColumnDef="id">
                    <mat-header-cell mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">ID</span>
                        {{element.id}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell mat-header-cell *matHeaderCellDef> {{'FLEET-MANAGER.NAME' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">{{'FLEET-MANAGER.NAME' | translate}}</span>
                        {{element.name}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="surname">
                    <mat-header-cell mat-header-cell *matHeaderCellDef> {{'FLEET-MANAGER.SURNAME' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">{{'FLEET-MANAGER.SURNAME' | translate}}</span>
                        {{element.surname}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="companyName">
                    <mat-header-cell mat-header-cell *matHeaderCellDef> {{'FLEET-MANAGER.COMPANY_NAME' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">{{'FLEET-MANAGER.COMPANY_NAME' | translate}}</span>
                        {{element.companyName}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="city">
                    <mat-header-cell mat-header-cell *matHeaderCellDef> {{'FLEET-MANAGER.CITY' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">{{'FLEET-MANAGER.CITY' | translate}}</span>
                        {{element.city}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="address">
                    <mat-header-cell mat-header-cell *matHeaderCellDef> {{'FLEET-MANAGER.ADDRESS' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">{{'FLEET-MANAGER.ADDRESS' | translate}}</span>
                        {{element.address}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="mobile">
                    <mat-header-cell *matHeaderCellDef> mobile </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">mobile</span>
                        {{findContactValue(element, 1)}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="size">
                    <mat-header-cell mat-header-cell *matHeaderCellDef> {{'FLEET-MANAGER.VEHICLESIZE' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label">{{'FLEET-MANAGER.VEHICLESIZE' | translate}}</span>
                        {{element.vehicles.length}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="button">
                    <mat-header-cell mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span class="mobile-label"></span>
                        <button mat-button (click)="expandedRow(element)"
                            matTooltip="{{'APPOINTMENT.VEHICLES' | translate}}">
                            <mat-icon style="color: #0066CC;">directions_car</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <!--Collapse div-->
                <ng-container matColumnDef="expandedDetail">
                    <mat-cell *matCellDef="let element">
                        <div class="example-element-detail"
                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <div class="example-element-description">
                                <mat-card>
                                    <mat-card-content fxLayout="column">
                                        <label id="example-radio-group-label">
                                            {{'APPOINTMENT.SELECT-VEHICLE' | translate}}
                                        </label>
                                        <mat-radio-group class="example-radio-group" [(ngModel)]="vehicleSelected">
                                            <mat-radio-button class="example-radio-button"
                                                *ngFor="let vehicle of element.vehicles" [value]="vehicle">
                                                {{vehicle.lpn}}
                                                <span *ngIf="vehicle.appointmentDate"> - 
                                                    {{vehicle.appointmentDate | date: 'dd/MM/yy HH:mm'}}</span>
                                            </mat-radio-button>
                                        </mat-radio-group>
                                        <div>
                                            <mat-form-field fxFlex="84" style="font-size: smaller;" appearance="fill"
                                                *ngIf="!hasAppointment">
                                                <mat-label>{{'APPOINTMENT.SELECT-DATE' | translate}}</mat-label>
                                                <input matInput [ngxMatDatetimePicker]="picker" [min]="minDate"
                                                    (focus)="picker.open()" autocomplete="off"
                                                    [(ngModel)]="CtrlDateSelection" readonly>
                                                <mat-datepicker-toggle matSuffix [for]="$any(picker)">
                                                </mat-datepicker-toggle>
                                                <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
                                            </mat-form-field>
                                        </div>
                                        <div fxLayout="row">
                                            <button mat-button
                                                [disabled]="(!CtrlDateSelection && !hasAppointment) || !vehicleSelected"
                                                (click)="manageAppointment()">
                                                <mat-icon
                                                    matTooltip="{{(!hasAppointment ? 'APPOINTMENT.ADD_BUTTON' : 'APPOINTMENT.REVOKE_BUTTON') | translate}}"
                                                    [style.color]="(!CtrlDateSelection && !hasAppointment) || !vehicleSelected ? 'grey' : !hasAppointment ? 'green' : 'red'">
                                                    {{!hasAppointment ? 'add': 'delete'}}
                                                </mat-icon>
                                            </button>
                                            <button mat-button *ngIf="hasAppointment" [disabled]="!vehicleSelected"
                                                [routerLink]="['../../manage-obu/assign-obu']"
                                                [state]="{vehicleLpnAppointment: vehicleSelected?.lpn}">
                                                <mat-icon matTooltip="{{'APPOINTMENT.ASSIGN_OBU' | translate}}"
                                                    [style.color]="!vehicleSelected ? 'grey' : '#1E88E5'">
                                                    keyboard_tab
                                                </mat-icon>
                                            </button>
                                        </div>

                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row class="mobileHeader" [style.display]="appointmentList.data.length === 0 ? 'none' : '' "
                    *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element">
                </mat-row>
                <mat-row [style.display]="expandedElement && expandedElement.id === row.id ? '' : 'none'"
                    *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row>
            </mat-table>
        </div>
        <mat-paginator [style.display]="appointmentList.data.length === 0 ? 'none' : '' "
            [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
        <div *ngIf="appointmentList.data.length === 0">
            {{ (!hasAppointment ? 'APPOINTMENT.NO_TO_ADD' : 'APPOINTMENT.NO_TO_MANAGE') | translate }}
        </div>

    </mat-card-content>
</mat-card>