.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

@media(min-width: 1180px) {
    .mat-column-id {
        max-width: 5%
    }

    .mat-column-name {
        max-width: 10%;
    }

    .mat-column-surname {
        max-width: 10%;
    }

    .mat-column-mobile {
        max-width: 15%
    }

    .mat-column-companyName {
        max-width: 20%
    }

    .mat-column-city {
        max-width: 10%
    }

    .mat-column-address {
        max-width: 15%
    }

    .mat-column-size {
        max-width: 5%
    }

    .mat-column-button {
        max-width: 10%;
        display: table-column;
        text-align: end;
    }
}

:host ::ng-deep .ng2-pdf-viewer-container {
    width: 98% !important;
    height: 98% !important;
}

.img-responsive {
    max-width: 40%;
    height: auto;
}