<form [formGroup]="search" fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="20px">
    <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>{{'FLEET-MANAGER.SEARCH' | translate}}</mat-label>
        <input matInput type="search" formControlName="ctrlSearch" autocomplete="off">
        <button matPrefix mat-icon-button (click)="refreshTable()">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
</form>
<mat-progress-bar mode="indeterminate" *ngIf="!complete"></mat-progress-bar>
<div fxLayout="row wrap" fxLayoutAlign="start">
    <mat-card *ngFor="let element of fleetanagersConnect | async" class="mat-card-movyon" fxFlex="100"
        fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30">
        <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-card-header>
                <mat-card-title> ID {{element.id}} </mat-card-title>
                <mat-card-title>{{element.name}} {{element.surname}}</mat-card-title>
            </mat-card-header>
            <button mat-icon-button [attr.i18nKey]="'FLEET-MANAGER.SELECTION'" [attr.i18nKey]="element.id"
                (click)="manageTicket(element.id)">
                <mat-icon><span class="icon-ArrowRight"></span></mat-icon>
            </button>
        </div>
        <mat-card-content>
            <mat-card-subtitle>
                E-mail: <b>{{element | findContactValue: 3}}</b>
            </mat-card-subtitle>
        </mat-card-content>
    </mat-card>
</div>
<mat-paginator style="margin-top: 20px;" [style.display]="fleetManagerList.length === 0 ? 'none' : '' " [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25]" (page)="pageChanged($event)"></mat-paginator>
<div *ngIf="fleetManagerList.length === 0 && complete">{{ 'FLEET-MANAGER.NO_DATA' | translate}}</div>