<app-view-file [file]="src"></app-view-file>
<div fxLayout="column" fxLayoutAlign="center center">
    <mat-progress-bar mode="indeterminate" *ngIf="!complete"></mat-progress-bar>
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let document of data.documents">
            <div matLine>
                {{'FLEET-MANAGER.' + document.type | translate}}
                <button mat-icon-button matTooltip="{{'OBU.VIEW_FILE' | translate}}" [disabled]="!complete"
                    (click)="viewDocument(document.fileId)">
                    <mat-icon>find_in_page</mat-icon>
                </button>
                <button mat-icon-button *ngIf="!document.valid else viewDate"
                    matTooltip="{{'FLEET-MANAGER.VALID' | translate}}" [disabled]="!complete"
                    (click)="validDocument(document.fileId)">
                    <mat-icon>fact_check</mat-icon>
                </button>
                <ng-template #viewDate>
                    <span style="color: green;">{{('FLEET-MANAGER.VALID_AT' | translate) + (document.valid | date :
                        'dd/MM/YYYY')}}</span>
                </ng-template>
            </div>
        </mat-list-item>
    </mat-list>
</div>