<mat-card *ngIf="roleMovyon !== undefined">
    <mat-card-content fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
            <mat-card-title>{{'MENU.Payments' | translate}}
            </mat-card-title>
            <button mat-button class="backButton" [attr.i18nKey]="'FLEET-MANAGER.BACK'"
                *ngIf="roleMovyon && !viewFleetTable" (click)="viewFleetTable = true">
                {{'FLEET-MANAGER.BACK' | translate}}
            </button>
        </div>
        <div *ngIf="viewFleetTable else vehicleTicket">
            <app-table-fleet (callManageTicket)="viewFleetTable = false; fmId= $event"></app-table-fleet>
        </div>
        <ng-template #vehicleTicket>
            <mat-tab-group mat-align-tabs="center" [selectedIndex]="index" (selectedTabChange)="index = $event.index">
                <mat-tab label="{{'MENU.Deposit' | translate}}">
                    <app-deposit [fleetManagerId]="fmId" *ngIf="index === 0"></app-deposit>
                </mat-tab>
                <mat-tab label="{{'MENU.Billing' | translate}}" *ngIf="!hideBilling">
                    <app-billing-items [fleetManagerId]="fmId" *ngIf="index === 1"></app-billing-items>
                </mat-tab>
                <mat-tab label="{{'MENU.Penalties' | translate}}" *ngIf="!roleFleet && !hideBilling">
                    <app-penalties [fleetManagerId]="fmId" *ngIf="index === 2"></app-penalties>
                </mat-tab>
            </mat-tab-group>
        </ng-template>
    </mat-card-content>
</mat-card>