<mat-card *ngIf="roleFleet !== undefined">
    <mat-card-header>
        <mat-card-title>
            {{'MENU.Payments' | translate}}
        </mat-card-title>
        <mat-card-subtitle>{{'FLEET-MANAGER.SELECT' | translate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutGap="20px">
        <app-table-fleet [searchValue]="searchFleet" (callManageTicket)="navigateSelection($event)"
            (saveSearch)="saveFleetSearch($event)">
        </app-table-fleet>
    </mat-card-content>
</mat-card>