<!-- <div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                <h2>{{'WELCOME.TITLE' | translate}}</h2>
                <img class="img-responsive" src="assets/images/BUS_Firenze.png" alt="welcome">
            </mat-card-content>
        </mat-card>
    </div>
</div> -->
<div fxLayout="column" fxFlexOffset="5" fxFlex="100">
    <mat-card-title>{{'WELCOME.TITLE' | translate}} {{user.firstName | titlecase}}</mat-card-title>
    <div [ngSwitch]="role">
        <div *ngSwitchCase="roles.MOVYON"><app-admin-cards></app-admin-cards></div>
        <div *ngSwitchCase="roles.OPER_MOVYON"><app-admin-cards></app-admin-cards></div>
        <div *ngSwitchCase="roles.FLEETMNG"><app-admin-cards></app-admin-cards></div>
        <div *ngSwitchCase="roles.INSTALLER"><app-admin-cards></app-admin-cards></div>
        <div *ngSwitchDefault>no role found</div>
    </div>
</div>