<div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                <h2>{{'WELCOME.TITLE' | translate}}</h2>
                <img class="img-responsive" src="assets/images/BUS_Firenze.png" alt="welcome">
            </mat-card-content>
        </mat-card>
    </div>
</div>
<!-- <mat-card>
    <mat-card-title>{{'WELCOME.TITLE' | translate}}</mat-card-title>
    <mat-card-content fxLayout="column">
        <mat-card style="background-color: #91D6AC; width: 33%;">
            <mat-card-title>monitoraggio aree</mat-card-title>
            <mat-card-content>
                testo
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card> -->
<!-- <div fxLayout="column" fxFlexOffset="10">
    <mat-card-title>{{'WELCOME.TITLE' | translate}}</mat-card-title>
    <mat-card style="background-color: #91D6AC;" fxLayout="column" fxLayoutGap="10">
        <mat-card-title>monitoraggio aree</mat-card-title>
        <mat-card-content>
            testo
        </mat-card-content>
    </mat-card>
</div> -->