<div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                <h2>Benvenuto nell'app</h2>
                <img class="img-responsive" src="assets/images/BUS_Firenze.png" alt="welcome">
            </mat-card-content>
        </mat-card>
    </div>
</div>
<!-- <ion-card>
    <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Benvenuto
    </ion-card-content>
</ion-card> -->