<mat-card>
    <mat-card-content fxLayout="column" fxLayoutGap="20px" *ngIf="formGroup">
        <mat-card-title fxLayout="row">
            <span *ngIf="!cellularRequired else insertCell">
                {{(driver ? 'DRIVERS.MESSAGE_EDIT' : 'DRIVERS.MESSAGE_NEW') | translate}}
            </span>
            <ng-template #insertCell>
                <span style="color: red;">
                    {{'DRIVERS.MESSAGE_MOBILE' | translate}}
                </span>
            </ng-template>
        </mat-card-title>
        <form [formGroup]="formGroup" fxLayout="column" fxLayoutGap="20px">
            <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start">
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30"
                    fxFlex.gt-md="30">
                    <mat-label>{{'FLEET-MANAGER.NAME' | translate}}</mat-label>
                    <input matInput type="text" formControlName="ctrlName" maxlength="25" required>
                    <mat-error>{{'FLEET-MANAGER.INSERT_NAME' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30"
                    fxFlex.gt-md="30">
                    <mat-label>{{'FLEET-MANAGER.SURNAME' | translate}}</mat-label>
                    <input matInput type="text" formControlName="ctrlSurname" maxlength="25" required>
                    <mat-error>{{'FLEET-MANAGER.INSERT_SURNAME' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30"
                    fxFlex.gt-md="30">
                    <mat-label>E-Mail</mat-label>
                    <input matInput type="text" formControlName="ctrlMail" maxlength="100" required>
                    <mat-error>{{'FLEET-MANAGER.INSERT_MAIL' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="cellularRequired || roleDriver" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start">
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30"
                    fxFlex.gt-md="30">
                    <mat-label>{{'FLEET-MANAGER.CELL' | translate}}</mat-label>
                    <input matInput type="text" appNg2TelInput #countryTel
                        [ng2TelInputOptions]="{initialCountry: 'it', separateDialCode: true}"
                        (countryChange)="onCountryChange($event)" formControlName="CtrlCell" maxlength="25" required
                        [readonly]="verifyOtp">
                    <button matSuffix mat-icon-button matTooltip="{{'FLEET-MANAGER.VERIFY_MOBILE' | translate}}"
                        [attr.i18nKey]="'FLEET-MANAGER.VERIFY_MOBILE'"
                        *ngIf="formGroup.get('CtrlCell').value && !verifyOtp" (click)="modalOTP()">
                        <mat-icon>mobile_screen_share</mat-icon>
                    </button>
                    <mat-icon matSuffix *ngIf="verifyOtp" matTooltip="{{'FLEET-MANAGER.MOBILE_VERIFIED' | translate}}"
                        style="color: green;">done
                    </mat-icon>
                    <mat-error>{{'FLEET-MANAGER.INSERT_CELL' | translate}}</mat-error>
                </mat-form-field>
            </div>
        </form>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
            <button mat-button class="whiteButtons" *ngIf="!roleDriver" [routerLink]="['../drivers']"
                [state]="{fleetManager: fleetManager}" [attr.i18nKey]="'COMMON.ACTION.CANCEL'">
                {{'COMMON.ACTION.CANCEL' | translate}}
            </button>
            <button *ngIf="!driver" mat-button libDebounceClick class="actionButtons" [disabled]="formGroup.invalid"
                [attr.i18nKey]="'FLEET-MANAGER.SAVE'" (debounceClick)="addDriver()">
                {{'FLEET-MANAGER.SAVE' | translate}}
            </button>
            <button *ngIf="driver" mat-button libDebounceClick class="actionButtons"
                [disabled]="formGroup.invalid || !formGroup.dirty || (roleDriver && !verifyOtp)"
                [attr.i18nKey]="'FLEET-MANAGER.EDIT'" (debounceClick)="editDriver()">
                {{'FLEET-MANAGER.EDIT' | translate}}
            </button>
        </div>
    </mat-card-content>
</mat-card>