<mat-card-subtitle><b>{{'VEHICLE.DATE_ASSOCIATION' | translate }}: </b>
    {{vehicleInfo?.associationDate | date : 'dd/MM/YYYY'}}
</mat-card-subtitle>
<mat-card-subtitle><b>{{'VEHICLE.LPN' | translate}}: </b>
    {{vehicleInfo.lpn}} 
    <span [ngClass]="'fi fi-' + vehicleInfo.lpnNat.toLowerCase()"></span>
</mat-card-subtitle>
<mat-card-subtitle><b>{{'VEHICLE.EURO-CLASS' | translate }}: </b>
    {{vehicleInfo?.euroClass}}
</mat-card-subtitle>
<mat-card-subtitle><b>{{'VEHICLE.EUROPEAN-GROUP' | translate }}: </b>
    {{vehicleInfo?.europeanGroupLabel | translate}}
</mat-card-subtitle>
<mat-card-subtitle><b>{{'VEHICLE.AXIS' | translate }}: </b>
    {{vehicleInfo?.numAxis}}
</mat-card-subtitle>
<mat-card-subtitle><b>{{'VEHICLE.WEIGHT' | translate }}: </b>
    {{vehicleInfo?.maxWeight}}
</mat-card-subtitle>