<div fxLayout="column" fxLayoutGap="20px">
    <mat-card-title fxLayout="row" fxLayoutAlign="center center"> {{'VEHICLE.DETAILS' | translate}}</mat-card-title>
    <mat-progress-bar mode="indeterminate" *ngIf="!complete"></mat-progress-bar>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-card fxFlex.gt-lg="20" fxFlex.gt-md="20" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card-content>
                <mat-card-title>{{'VEHICLE.DATE ASSOCIATION' | translate}}</mat-card-title>
                <mat-card-subtitle>{{vehicleInfo?.associationDate | date : 'dd/MM/YYYY'}}</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex.gt-lg="20" fxFlex.gt-md="20" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card-content>
                <mat-card-title>{{'VEHICLE.WEIGHT' | translate }}</mat-card-title>
                <mat-card-subtitle> {{vehicleInfo?.maxWeight}} </mat-card-subtitle>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex.gt-lg="20" fxFlex.gt-md="20" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card-content>
                <mat-card-title>{{'VEHICLE.AXIS' | translate }}</mat-card-title>
                <mat-card-subtitle> {{vehicleInfo?.numAxis}} </mat-card-subtitle>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex.gt-lg="20" fxFlex.gt-md="20" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card-content>
                <mat-card-title>{{'VEHICLE.LPN' | translate}}</mat-card-title>
                <mat-card-subtitle> {{vehicleInfo?.lpn}} </mat-card-subtitle>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex.gt-lg="20" fxFlex.gt-md="20" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card-content>
                <mat-card-title>{{'VEHICLE.LPN NAT' | translate }}</mat-card-title>
                <mat-card-subtitle> {{vehicleInfo?.lpnNat}} </mat-card-subtitle>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex.gt-lg="20" fxFlex.gt-md="20" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card-content>
                <mat-card-title>{{'VEHICLE.EURO-CLASS' | translate }}</mat-card-title>
                <mat-card-subtitle> {{vehicleInfo?.euroClass | translate}} </mat-card-subtitle>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex.gt-lg="20" fxFlex.gt-md="20" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card-content>
                <mat-card-title>{{'VEHICLE.EUROPEAN-GROUP' | translate }}</mat-card-title>
                <mat-card-subtitle> {{vehicleInfo?.europeanGroupLabel | translate}} </mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </div>
</div>
