<mat-card>
    <mat-card-title fxLayout="row" fxLayoutAlign="center center">
        {{'TICKET.INSERT' | translate}}
    </mat-card-title>
    <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="center">
            <mat-button-toggle-group [(ngModel)]="ticketType" (change)="changeValidator()">
                <mat-button-toggle value="{{ticketsType.ticket}}">
                    {{'TICKET.' + ticketsType.ticket | translate}}
                </mat-button-toggle>
                <mat-button-toggle value="{{ticketsType.abbonamento}}">
                    {{'TICKET.' + ticketsType.abbonamento | translate}}
                </mat-button-toggle>
                <mat-button-toggle value="{{ticketsType.voucher}}">
                    {{'TICKET.' + ticketsType.voucher | translate}}
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <form [formGroup]="FormGroup" fxLayout="column" fxLayoutGap="20px" *ngIf="ticketType">
            <div *ngIf="validTicket.valid" style="color: green; text-align: center;">
                {{validTicket.ticket.ticketId}} {{'TICKET.VERIFIED' | translate}} <br>
                {{'TICKET.TYPE' | translate}}: {{'TICKET.' + validTicket.ticket.type | translate}}
                ({{'TICKET.CODE' | translate}} {{validTicket.ticket.code}})
                <div *ngIf="validTicket.ticket.ticketStart">
                    {{'TICKET.DATE_START' | translate}}: {{validTicket.ticket.ticketStart ?
                    (validTicket.ticket.ticketStart | date: 'dd/MM/yyyy HH:mm') : '-'}}<br>
                    {{'TICKET.DATE_END' | translate}}: {{validTicket.ticket.ticketEnd ? (validTicket.ticket.ticketEnd |
                    date: 'dd/MM/yyyy HH:mm') : '-'}}
                </div>
            </div>
            <div *ngIf="ticketType !== ticketsType.voucher else voucher">
                <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start"
                    [style.display]="validTicket.valid ? 'none' : ''">
                    <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30"
                        fxFlex.gt-md="30">
                        <mat-label>{{'TICKET.PROGRESSIVE' | translate}}</mat-label>
                        <input matInput type="text" formControlName="CtrlProgressive" required (focusout)="testTicket()">
                        <mat-error>{{('TICKET.INSERT_' + ticketType) | translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30"
                        fxFlex.gt-md="30">
                        <mat-label>{{'TICKET.CODE' | translate}}</mat-label>
                        <input matInput type="text" formControlName="CtrlCode" required (ngModelChange)="testTicket()">
                        <mat-error>{{('TICKET.INSERT_' + ticketType) | translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="30"
                        fxFlex.gt-md="30">
                        <mat-label>{{'TICKET.YEAR' | translate}}</mat-label>
                        <input matInput type="text" formControlName="CtrlYear" required (ngModelChange)="testTicket()">
                        <mat-error>{{('TICKET.INSERT_' + ticketType) | translate}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <ng-template #voucher>
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center"
                    [style.display]="validTicket.valid ? 'none' : ''">
                    <mat-form-field appearance="fill" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="50"
                        fxFlex.gt-md="50">
                        <mat-label>{{ticketType}}</mat-label>
                        <div fxLayout="row">
                            <input matInput type="text" formControlName="CtrlVoucher" required autocomplete="off"
                                (ngModelChange)="testTicket()">
                            <button mat-icon-button (click)="cleanTicket()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                        <mat-error>{{('TICKET.INSERT_' + ticketType) | translate}}</mat-error>
                    </mat-form-field>
                </div>
            </ng-template>
            <div fxLayout="row" fxLayoutAlign="center" *ngIf="!hideActiveTicket && !data.extend && validTicket.valid">
                <mat-radio-group formControlName="CtrlActive">
                    <mat-radio-button [value]="true">
                        <span style="white-space: normal; margin-right: 10px;">
                            {{'TICKET.ACTIVE_AFTER' | translate}}
                        </span>
                    </mat-radio-button>
                    <br>
                    <mat-radio-button [value]="false">
                        <span style="white-space: normal;"> {{'TICKET.ACTIVE_NOW' | translate}}</span>
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" *ngIf="data.extend">
                {{'TICKET.EXTEND_TEXT' | translate}}
            </div>
            <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="15px">
                <button mat-button (click)="dialogRef.close(false);" class="backButton">
                    {{'COMMON.ACTION.CANCEL' | translate}}</button>
                <button mat-button class="actionButtons" [disabled]="!validTicket.valid" (click)="addTicket()">
                    {{'COMMON.ACTION.SAVE' | translate}}
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>