<mat-card>
    <mat-card-title fxLayout="row" fxLayoutAlign="center">
        {{'TICKET.INSERT' | translate}}
    </mat-card-title>
    <mat-card-content fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center">
        <div fxLayout="row" fxLayoutAlign="center">
            <mat-radio-group fxLayoutGap="10px" [(ngModel)]="ticketType" (change)="changeValidator()">
                <mat-radio-button [value]="ticketsType.ticket" [attr.i18nKey]="'TICKET.' + ticketsType.ticket">
                    {{'TICKET.' + ticketsType.ticket | translate}}</mat-radio-button>
                <mat-radio-button [value]="ticketsType.abbonamento"
                    [attr.i18nKey]="'TICKET.' + ticketsType.abbonamento">
                    {{'TICKET.' + ticketsType.abbonamento | translate}}</mat-radio-button>
                <mat-radio-button [value]="ticketsType.voucher" [attr.i18nKey]="'TICKET.' + ticketsType.voucher">
                    {{'TICKET.' + ticketsType.voucher | translate}}</mat-radio-button>
            </mat-radio-group>
        </div>
        <form [formGroup]="formGroup">
            <div *ngIf="validTicket.valid" style="color: green; text-align: center;">
                {{validTicket.ticket.ticketId}} {{'TICKET.VERIFIED' | translate}} <br>
                {{'TICKET.TYPE' | translate}}: {{'TICKET.' + validTicket.ticket.type | translate}}
                ({{'TICKET.CODE' | translate}} {{validTicket.ticket.code}})
                <div *ngIf="validTicket.ticket.ticketStart">
                    {{'TICKET.DATE_START' | translate}}: {{validTicket.ticket.ticketStart ?
                    (validTicket.ticket.ticketStart | date: 'dd/MM/yyyy HH:mm') : '-'}}<br>
                    {{'TICKET.DATE_END' | translate}}: {{validTicket.ticket.ticketEnd ? (validTicket.ticket.ticketEnd |
                    date: 'dd/MM/yyyy HH:mm') : '-'}}
                </div>
            </div>
            <ng-container *ngIf="ticketType !== ticketsType.voucher else voucher">
                <div fxLayout="column" fxLayoutGap="10px" [style.display]="validTicket.valid ? 'none' : ''">
                    <div fxLayout="row wrap" fxLayoutAlign="center">
                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="40"
                            fxFlex.gt-md="40">
                            <mat-label>{{'TICKET.PROGRESSIVE' | translate}}</mat-label>
                            <input matInput type="text" formControlName="ctrlProgressive" required
                                (focusout)="testTicket()">
                            <mat-error>{{('TICKET.INSERT_' + ticketType) | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row wrap" fxLayoutAlign="center">
                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="40"
                            fxFlex.gt-md="40">
                            <mat-label>{{'TICKET.CODE' | translate}}</mat-label>
                            <input matInput type="text" formControlName="ctrlCode" required
                                (ngModelChange)="testTicket()">
                            <mat-error>{{('TICKET.INSERT_' + ticketType) | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row wrap" fxLayoutAlign="center">
                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="40"
                            fxFlex.gt-md="40">
                            <mat-label>{{'TICKET.YEAR' | translate}}</mat-label>
                            <input matInput type="text" formControlName="ctrlYear" required
                                (ngModelChange)="testTicket()">
                            <mat-error>{{('TICKET.INSERT_' + ticketType) | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </ng-container>
            <ng-template #voucher>
                <div fxLayout="column" fxLayoutGap="20px" [style.display]="validTicket.valid ? 'none' : ''">
                    <div fxLayout="row wrap" fxLayoutAlign="center">
                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="40"
                            fxFlex.gt-md="40">
                            <mat-label>{{ticketType}}</mat-label>
                            <input matInput type="text" formControlName="ctrlVoucher" required autocomplete="off"
                                (ngModelChange)="testTicket()">
                            <button mat-icon-button matSuffix [attr.i18nKey]="'TICKET.CLEAN'" (click)="cleanTicket()">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-error>{{('TICKET.INSERT_' + ticketType) | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </ng-template>
            <div fxLayout="row wrap" fxLayoutAlign="center" *ngIf="!data.extend">
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-lg="40"
                    fxFlex.gt-md="40">
                    <mat-label>{{'APPOINTMENT.SELECT-VEHICLE' | translate}}</mat-label>
                    <mat-select formControlName="ctrlVehicle" required (selectionChange)="testTicket()">
                        <mat-option *ngFor="let vehicle of data.vehicleList" [value]="vehicle.id">
                            {{vehicle.displayName}}
                        </mat-option>
                    </mat-select>
                    <mat-error>{{'APPOINTMENT.SELECT-VEHICLE' | translate}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" *ngIf="!hideActiveTicket && !data.extend && validTicket.valid">
                <mat-radio-group formControlName="ctrlActive">
                    <mat-radio-button [value]="true" [attr.i18nKey]="'TICKET.ACTIVE_AFTER'">
                        <span style="white-space: normal; margin-right: 10px;">
                            {{'TICKET.ACTIVE_AFTER' | translate}}
                        </span>
                    </mat-radio-button>
                    <br>
                    <mat-radio-button [value]="false" [attr.i18nKey]="'TICKET.ACTIVE_NOW'">
                        <span style="white-space: normal;"> {{'TICKET.ACTIVE_NOW' | translate}}</span>
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" *ngIf="data.extend">
                {{'TICKET.EXTEND_TEXT' | translate}}
            </div>
            <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="15px">
                <button mat-button class="whiteButtons" [attr.i18nKey]="'COMMON.ACTION.CANCEL'"
                    (click)="dialogRef.close(false);">
                    {{'COMMON.ACTION.CANCEL' | translate}}</button>
                <button mat-button class="actionButtons" [disabled]="!validTicket.valid"
                    [attr.i18nKey]="'COMMON.ACTION.SAVE'" (click)="addTicket()">
                    {{'COMMON.ACTION.SAVE' | translate}}
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>