table {
    width: 100%;
}
.obuDisactive {
    opacity: 0.8;
}
@media (min-width: 1180px) {
    .mat-column-id {
        max-width: 10%;
    }
    .mat-column-plate {
        max-width: 10%;
    }
    .mat-column-nat {
        max-width: 10%;
    }
    .mat-column-certificateId {
        max-width: 10%;
    }
    .mat-column-euroClass {
        max-width: 10%;
    }
    .mat-column-obuId {
        max-width: 20%;
    }
    .mat-column-consent {
        max-width: 10%;
    }
    .mat-column-actions {
        max-width: 20%;
        display: table-column;
    }
}
.icon-assignment-grey:before {
    color: grey;
    font-weight: bold;
}

.actionIconButtons:hover:enabled {
    .icon-statistic::before {
        color: white;
    }
}
