<mat-card>
	<mat-card-title fxLayout="row" fxLayoutAlign="center center">Vehicles</mat-card-title>
	<mat-card-content>
		<div fxLayout="column" fxLayoutGap="20px">
			<span fxFlex="20">
				<button mat-button class="backButton" [routerLink]="['../']">{{'FLEET-MANAGER.BACK' |translate}}</button>
			</span>
			<table mat-table [dataSource]="vehicleList" style="background-color: beige;" class="mat-elevation-z8"
				matSort matSortActive="id" matSortDirection="asc">
				<ng-container matColumnDef="id">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
					<td mat-cell *matCellDef="let element"> {{element.id}} </td>
				</ng-container>

				<ng-container matColumnDef="plate">
					<th mat-header-cell *matHeaderCellDef> plate </th>
					<td mat-cell *matCellDef="let element"> {{ element.lpn}} </td>
				</ng-container>

				<ng-container matColumnDef="nat">
					<th mat-header-cell *matHeaderCellDef> nat </th>
					<td mat-cell *matCellDef="let element"> {{ element.lpnNat}} </td>
				</ng-container>

				<ng-container matColumnDef="euroClass">
					<th mat-header-cell *matHeaderCellDef> euroClass </th>
					<td mat-cell *matCellDef="let element"> {{ element.euroClass}} </td>
				</ng-container>

				<ng-container matColumnDef="obuId">
					<th mat-header-cell *matHeaderCellDef> obuId </th>
					<td mat-cell *matCellDef="let element"> {{ element.obuId}} </td>
				</ng-container>


				<tr mat-header-row *matHeaderRowDef="displayedColumns"
					[style.display]="vehicleList.data.length === 0 ? 'none' : '' "></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
		</div>
	</mat-card-content>
</mat-card>