<mat-card>
	<div fxLayout="row wrap" fxLayoutAlign="space-between">
		<mat-card-title>
			<lib-breadcrumb [bgColor]="'white'" [fontColor]="'#1C3775'" [fontSize]="'14px'" [breadcrumb]="breadCrumb"
				style="height: 1px;" *ngIf="fleetManager"></lib-breadcrumb>
			{{'VEHICLE.TITLE' | translate}}
		</mat-card-title>
		<span fxLayoutGap="20px">
			<button mat-button class="actionIconButtons" *ngIf="vehicleList.data.length > 0" (click)="scroll(stat)">
				{{'STATISTIC.VEHICLE' | translate}}
				<mat-icon matSuffix><span class="icon-statistic"></span></mat-icon>
			</button>
			<button mat-button class="whiteButtons" *ngIf="fleetManager && vehicleLpn"
				[attr.i18nKey]="'FLEET-MANAGER.BACK'" (click)="backToValidVehicle()">
				{{'FLEET-MANAGER.BACK' |translate}}
			</button>
			<button mat-button class="actionButtons" [attr.i18nKey]="'FLEET-MANAGER.NEW'" (click)="addVehicle()">
				{{'FLEET-MANAGER.NEW' | translate}}
			</button>
			<button mat-button class="whiteButtons" [matMenuTriggerFor]="menuDownload"
				[attr.i18nKey]="'VEHICLE.DOWNLOAD'">
				{{'VEHICLE.DOWNLOAD' | translate}}
				<mat-icon><span class="icon-Chevron-Down"></span></mat-icon>
			</button>
		</span>
		<mat-menu #menuDownload="matMenu">
			<button mat-menu-item (click)="downloadManualPdf(2)">Tracker X</button>
			<button mat-menu-item (click)="downloadManualPdf(3)">Arianna II</button>
			<button mat-menu-item (click)="downloadManualPdf(4)">Arianna I</button>
		</mat-menu>
	</div>
	<mat-card-content>
		<div fxLayout="column" fxLayoutGap="20px">
			<form [formGroup]="search" fxLayout="row wrap" fxLayoutAlign="left center" fxLayoutGap="20px">
				<mat-form-field appearance="outline" fxFlex="70">
					<mat-label>{{'VEHICLE.SEARCH' | translate}}</mat-label>
					<input matInput type="search" formControlName="ctrlSearch" placeholder="cerca" autocomplete="off">
					<button matPrefix mat-icon-button (click)="getVehiclesByManagerId()">
						<mat-icon>search</mat-icon>
					</button>
				</mat-form-field>
				<mat-radio-group fxLayoutGap="10px" formControlName="ctrlStatus"
					(change)="filterDataSourceStatus($event.value)">
					<mat-radio-button [value]="'ALL'">{{'VEHICLE.ALL' | translate}}</mat-radio-button>
					<mat-radio-button [value]="'REGISTERED'">{{'VEHICLE.STATE_ACTIVE' | translate}}</mat-radio-button>
					<mat-radio-button [value]="'TEMP'">{{'VEHICLE.STATE_TEMP' | translate}}</mat-radio-button>
					<mat-radio-button [value]="'DELETED'">{{'VEHICLE.STATE_EXP' | translate}}</mat-radio-button>
				</mat-radio-group>
			</form>
			<mat-progress-bar mode="indeterminate" *ngIf="!complete"></mat-progress-bar>
			<div fxLayout="row wrap" fxLayoutAlign="start">
				<mat-card *ngFor="let element of vehicleListConnect | async" class="mat-card-movyon" fxFlex="100"
					fxFlex.gt-xs="100" fxFlex.gt-lg="30" fxFlex.gt-md="30">
					<mat-card-title>
						<mat-icon> <!-- colore icona-->
							<span [class]="element.status === 'DELETED' || element.deleted ? 'icon-Pin-rounded redIcon' :
							element.status === 'TEMP' ? 'icon-Pin-rounded yellowIcon' :
							element.status === 'REGISTERED' ? 'icon-Pin-rounded greenIcon' : 
							'icon-Pin-rounded yellowIcon'">
							</span>
						</mat-icon>
						ID {{element.id}}
					</mat-card-title>
					<mat-card-content>
						<mat-card-subtitle>{{'VEHICLE.LPN' | translate}}: {{element.lpn}}</mat-card-subtitle>
						<mat-card-subtitle>{{'VEHICLE.STATUS' | translate}}:
							<span *ngIf="element.status === 'DELETED'" style="color: #F54236;">
								{{'VEHICLE.EXPIRED' | translate}}
								<button *ngIf="element.status === 'DELETED'" mat-icon-button
									[attr.i18nKey]="'VEHICLE.REFRESH_EXPDATE'" (click)="updateStatus(element.id)">
									<mat-icon matTooltip="{{'VEHICLE.REFRESH_EXPDATE' | translate}}">
										<span class="icon-refresh"></span>
									</mat-icon>
								</button>
							</span>
							<span *ngIf="element.deleted" style="color: #F54236;">
								{{'VEHICLE.DELETED' | translate}}
							</span>
							<span *ngIf="element.status === 'TEMP' && !element.deleted" style="color: #eed202;">
								{{'VEHICLE.WILLEXPIRE' | translate}}
								{{element.expiresAt?.day + '/' + element.expiresAt?.month + '/' +
								element.expiresAt?.year }}
							</span>
							<span *ngIf="element.status === 'REGISTERED' && !element.deleted" style="color: #4CAE50;">
								{{'VEHICLE.ACTIVE' | translate}}
							</span>
							<span *ngIf="element.status === 'UNKNOWN'" style="color: #eed202;">
								{{'VEHICLE.UNKNOWN' | translate}}
							</span>
						</mat-card-subtitle>
						<mat-card-subtitle>{{'VEHICLE.LPN_NAT' | translate}}:
							<span [ngClass]="'fi fi-' + element.lpnNat.toLowerCase()"></span>
						</mat-card-subtitle>
						<mat-card-subtitle>
							{{'VEHICLE.CERTIFICATE' | translate}}:
							<button mat-icon-button [disabled]="!element.certificateId"
								[attr.i18nKey]="'VEHICLE.CERTIFICATE'"
								(click)="viewCertificate(element.id, element.certificateId)">
								<mat-icon
									matTooltip="{{(element.certificateId ? 'VEHICLE.CERTIFICATE' : 'VEHICLE.NOCERTIFICATE') | translate}}">
									<span class="icon-assignment"
										[ngClass]="element.certificateId ? null : 'icon-assignment-grey'">
									</span>
								</mat-icon>
							</button>
						</mat-card-subtitle>
						<mat-card-subtitle>{{'VEHICLE.EURO-CLASS' | translate}}:
							{{element.euroClass}}</mat-card-subtitle>
						<mat-card-subtitle>obuId: {{element.obuId}}</mat-card-subtitle>
						<mat-card-subtitle>{{'VEHICLE.CONSENT' | translate}}:
							{{ (element.allowContacted ? 'VEHICLE.CONSENTYES' : 'VEHICLE.CONSENTNO') | translate}}
						</mat-card-subtitle>
						<ng-container *ngIf="!element.deleted else deleted">
							<div fxLayout="row" fxLayoutAlign="end">
								<button mat-icon-button matTooltip="menu" [matMenuTriggerFor]="actionsMenuManage"
									[attr.i18nKey]="'menu'">
									<mat-icon><span class="icon-Horizontal-dots"></span></mat-icon>
								</button>
								<button mat-icon-button matTooltip="{{'COMMON.ACTION.DELETE' | translate}}"
									[attr.i18nKey]="'COMMON.ACTION.DELETE'"
									(click)="deleteVehicle(element.id, element.valid)">
									<mat-icon><span class="icon-Bin"></span></mat-icon>
								</button>
							</div>
							<mat-menu #actionsMenuManage="matMenu" class="menu-color">
								<button mat-menu-item [attr.i18nKey]="'COMMON.ACTION.EDIT'"
									(click)="editVehicle(element)">
									<mat-icon><span class="icon-edit"></span></mat-icon>
									{{'COMMON.ACTION.EDIT' | translate}}
								</button>
								<button mat-menu-item [routerLink]="['statistic']"
									[state]="{vehicle: element, fleetManager: fleetManager}"
									[attr.i18nKey]="'STATISTIC.VEHICLE'">
									<mat-icon><span class="icon-statistic font-size-30"></span></mat-icon>
									{{'STATISTIC.VEHICLE' | translate}}
								</button>
								<button *ngIf="element.hardware" mat-menu-item [attr.i18nKey]="'VEHICLE.DOWNLOAD'"
									(click)="downloadManualPdf(element.hardware)">
									<mat-icon><span class="icon-download"></span></mat-icon>
									{{'VEHICLE.DOWNLOAD' | translate}}
								</button>
								<button *ngIf="element.documents | hasDeposit: true" mat-menu-item
									[attr.i18nKey]="'VEHICLE.DRIVER_ASSOCIATION'"
									(click)="associationDriver(element.id)">
									<mat-icon><span class="icon-refresh"></span></mat-icon>
									{{'VEHICLE.DRIVER_ASSOCIATION' | translate}}
								</button>
							</mat-menu>
						</ng-container>
						<ng-template #deleted>
							<div fxLayout="row" fxLayoutAlign="end">
								<button mat-icon-button [routerLink]="['statistic']"
									[state]="{vehicle: element, fleetManager: fleetManager}"
									[attr.i18nKey]="'STATISTIC.VEHICLE'">
									<mat-icon matTooltip="{{'STATISTIC.VEHICLE' | translate}}">
										<span class="icon-Graph"></span>
									</mat-icon>
								</button>
							</div>
						</ng-template>
					</mat-card-content>
				</mat-card>
			</div>
			<mat-paginator [style.display]="vehicleList.data.length === 0 ? 'none' : '' " [pageSize]="9"
				[pageSizeOptions]="[6, 9, 12]"></mat-paginator>
			<div *ngIf="vehicleList.data.length === 0 && complete"> {{'VEHICLE.NO_DATA' | translate}}</div>
			<div #stat>
				<app-panel-statistic *ngIf="complete && vehicleList.data.length > 0"
					[fleetManager]="fleetManager"></app-panel-statistic>
			</div>
		</div>
	</mat-card-content>
</mat-card>