/* npt-template style */

.topbar {
    background-color: #C30C26 !important;
}

/* snackbar */

.ERROR {
    background-color: #FF0000 !important;
    color: white !important;
}

.WARN {
    background-color: #eed202 !important;
    color: white !important;
}

.INFO {
    background-color: #5cb85c !important;
    color: white !important;
}

.mat-simple-snackbar-action {
    color: white !important;
}

/* buttons */
.redButtons {
    background-color: red;
    color: white;
}

.greenButtons {
    background-color: green;
    color: white;
}

.greenButtons[disabled]:hover {
    background-color: green;
}

.greenButtons:hover {
    background-color: rgb(46, 175, 46);
}

.backButton {
    background-color: gray;
    color: white;
}

.backButton:hover {
    background-color: #616161;
}