/* app */

html, body {
    height: 100% !important;
}

.white-button {
    background: #FFFFFF;
    border-radius: 20px !important;
    color: #1C3775;
}

mat-card-title {
    color: #1C3775;
}

mat-card {
    border-radius: 10px !important;
}

/* table responsive */

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 550px;
    min-width: 200px;
}

.mat-table {
    overflow: auto;
    max-height: 550px;
    z-index: 1;
}

.mat-header-row {
    background-color: #1C3775;
}

.mat-header-cell {
    color: white;
}

.mobile-label {
    display: none;
}

@media(max-width: 1180px) {
    mat-cell:first-of-type {
        padding-left: 0 !important;
    }

    .mobile-label {
        width: 80px;
        display: inline-block;
        font-weight: bold;
    }

    .mobileHeader {
        display: none;
    }

    .mat-row {
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
    }
}

.hover-row:hover {
    background-color: #E4F1F5;
}


.mat-paginator {
    border: 1px solid #1C3775;
    border-radius: 10px;
}

/* paginator on mobile */

@media(max-width: 470px) {
    .mat-paginator-range-label {
        margin: 0 10px 0 10px !important;
    }
}

/* npt-template style */

/* .topbar {
    background-color: #C30C26 !important;
} */

/* snackbar */

.ERROR {
    background-color: #FF0000 !important;
    color: white !important;
}

.WARN {
    background-color: #eed202 !important;
    color: white !important;
}

.INFO {
    background-color: #5cb85c !important;
    color: white !important;
}

.mat-simple-snackbar-action {
    color: white !important;
}

/* control map */

.ol-control button {
    display: block;
    margin: 1px;
    padding: 0;
    color: black;
    font-size: 1.14em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 40px;
    width: 100px;
    line-height: .4em;
    background-color: rgba(0, 60, 136, 0.5);
    border: none;
    border-radius: 2px;
}

.material-icons {
    display: none;
}

#activeVehicle {
    background-color: #91D6AC;
}

#warningVehicle {
    background-color: #BBBCBC;
}

#errorVehicle {
    background-color: #E89CAE;
}