<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header [collapsedHeight]="'80px'" [expandedHeight]="'80px'">
            <mat-panel-description>
                Statistiche dell'ultimo mese
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
            <mat-card fxFlex.gt-lg="20" fxFlex.gt-md="20" fxFlex.gt-xs="100" fxFlex="100">
                <mat-card-content class="vehicle">
                    <mat-card-title>Fleet Manager ID</mat-card-title>
                    <mat-card-subtitle>{{fleetManager?.id}}</mat-card-subtitle>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex.gt-lg="20" fxFlex.gt-md="20" fxFlex.gt-xs="100" fxFlex="100">
                <mat-card-content class="vehicle">
                    <mat-card-title>{{'FLEET-MANAGER.NAME' | translate}}</mat-card-title>
                    <mat-card-subtitle>
                        {{fleetManager?.name}}
                    </mat-card-subtitle>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex.gt-lg="20" fxFlex.gt-md="20" fxFlex.gt-xs="100" fxFlex="100">
                <mat-card-content class="vehicle">
                    <mat-card-title>{{'FLEET-MANAGER.SURNAME' | translate}}</mat-card-title>
                    <mat-card-subtitle> {{fleetManager?.surname}} </mat-card-subtitle>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex.gt-lg="20" fxFlex.gt-md="20" fxFlex.gt-xs="100" fxFlex="100">
                <mat-card-content class="vehicle">
                    <mat-card-title>{{'FLEET-MANAGER.COMPANY_NAME' | translate}}</mat-card-title>
                    <mat-card-subtitle> {{fleetManager?.companyName}} </mat-card-subtitle>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxLayout="row">
            <app-trip-statistic></app-trip-statistic>
            <!-- <app-trip-statistic [vehicleStatTrip]="tripStat" [viewOuter]="viewOuter"></app-trip-statistic> -->
        </div>
    </mat-expansion-panel>
</mat-accordion>
